 <nav th:fragment="nav" class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a th:href="@{/static}" class="nav-link">
          <img th:src="@{/images/navicons/home.png}" alt="Home" class="nav-icon">
          <span class="nav-text">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a th:href="@{/dashboard}" class="nav-link">
          <img th:src="@{/images/navicons/dashboard.png}" alt="Dashboard" class="nav-icon">
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a th:href="@{/diary}" class="nav-link">
          <img th:src="@{/images/navicons/diary.png}" alt="Diary" class="nav-icon">
          <span class="nav-text">Diary</span>
        </a>
      </li>
      <li class="nav-item">
        <a th:href="@{/information}" class="nav-link">
          <img th:src="@{/images/navicons/info.png}" alt="Education" class="nav-icon">
          <span class="nav-text">Education</span>
        </a>
      </li>
      <li class="nav-item">
        <a th:href="@{/calendar}" class="nav-link">
          <img th:src="@{/images/navicons/calendar.png}" alt="Calendar" class="nav-icon">
          <span class="nav-text">Calendar</span>
        </a>
      </li>
    </ul>
  </nav>