<!DOCTYPE html>
<!--<div th:fragment="navmenu (links)" class="navmenu">-->
<div th:fragment="navmenu" class="navmenu">
  <div class="navmenu-links">
    <nav>
      <ul class="navmenu-links">
<!--      <ul th:each="link : ${links}">-->
        <li class="navmenu-link">
<!--          <a th:href="@{${link.url}}" th:text="${link.text}"></a>-->
          <a th:href="@{/diary}">Diary</a>
        </li>
        <li class="navmenu-link">
          <a th:href="@{/diary/checkin}">Check-in</a>
        </li>
      </ul>
    </nav>
  </div>
</div>