<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>My Diary</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div th:replace="~{mobile/fragments/mobileheader :: header}"></div>
      <div class="day-container"></div>
      <div th:replace="~{mobile/fragments/mobilenav :: mobilenav}"></div>
    </div>
    <script th:src="@{/js/components/header.js}"></script>
  </body>
</html>
