<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Information</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="continer">
      <header th:replace="~{fragments/common/header}"></header>
      <p>Mobile version</p>
    </div>
    <footer>
      <nav th:replace="~{fragments/common/nav :: nav}" class="nav"></nav>
    </footer>
    <script th:src="@{/js/screen.js}"></script>
    <script th:src="@{/js/components/header.js}"></script>
  </body>
</html>
