<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Landing Page</title>
    <link rel="stylesheet" th:href="@{/css/guest.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header th:replace="~{fragments/common/header}"></header>
    <div>
      <h1>Welcome to [Insert App Name Here]!</h1>
      <p>Mobile version</p>
    </div>
    <div class="btn-container">
      <button onclick="location. href='/login'" class="log-in-btn">Log In</button>
      <button onclick="location. href='/guest'" class="guest-btn">Guest</button>
    </div>
    <footer>
      <nav th:replace="~{fragments/common/nav :: nav}" class="nav"></nav>
    </footer>
    <script th:src="@{/js/screen.js}"></script>
  </body>
</html>
