<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/guest.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="login-container">
    <div th:replace="~{fragments/common/header}"></div>
    <form th:action="@{/login}" id="login" method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <br>
        <button type="submit" class="log-in-btn">Login</button>
    </form>
</div>
<div class="back-btn">
<img
        src="/images/back-button.svg"
        alt="Back Button Icon"
        class="icon"
        onclick="location. href='/guest'"
/>
</div>
<script th:src="@{/js/components/header.js}"></script>

</body>
</html>
