<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Management</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/common/header}"></div>
    <h1>My Lymphoedema Management</h1>
    <p>The Lymphoedema management page.</p>
    <footer>
        <nav th:replace="~{fragments/common/nav}" class="nav"></nav>
    </footer>
</div>
<script th:src="@{/js/components/header.js}"></script>
<script th:src="@{/js/screen.js}"></script>
</body>
</html>