<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Calendar</title>
  <link rel="stylesheet" th:href="@{/css/calendar/desktop/calendar.css}"/>
  <link rel="stylesheet" th:href="@{/css/common/main.css}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div th:replace="~{common/fragments/header}" ></div>
<nav th:replace="~{common/fragments/navbar}"></nav>
<div id="header">
  <h1>Appointment Calendar</h1>
  <p>You do not have to add lymphoedema appointments these will be done by your physician</p>
</div>
  <div class="container-calendar">
      <div id="left">
        <h3>Appointment Schedule</h3>

        <ul id="apptList">
          <li data-event-id="1">
          <p>No appointments scheduled for today</p>
            <button class="delete-event"
                    onclick="deleteEvent(1)">
              Delete
            </button>
          </li>
        </ul>
      </div>
    <div id="center">
      <div id="appointmentModal" class="modal hidden">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Add Appointment</h2>
          <form id="appointmentForm">
            <label for="appointmentDate">Date:</label>
            <input type="date" id="appointmentDate" name="appointmentDate" required><br>

            <label for="appointmentTime">Time:</label>
            <input type="time" id="appointmentTime" name="appointmentTime" required><br>

            <label for="appointmentType">Appointment Type:</label>
            <input type="text" id="appointmentType" name="appointmentType" required><br>

            <label for="dr">Doctor:</label>
            <input type="text" id="dr" name="dr" required><br>

            <label for="comments">Comments:</label>
            <textarea id="comments" name="comments"></textarea><br>

            <button type="button" id="saveAppointmentBtn">Save Appointment</button>
          </form>
        </div>
      </div>
</div>
<script th:src="@{/js/calendar/calendar.js}"></script>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>

