<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <head>
    <title>Provider Calendar</title>
    <link rel="stylesheet" th:href="@{/css/calendar/desktop/calendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/common/main.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.4/fullcalendar.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<body>
<div th:replace="~{common/fragments/header}"></div>
<nav th:replace="~{common/fragments/navbar}"></nav>
<div id="tabs">
  <button onclick="showList()">View List</button>
  <button onclick="showCalendarpro()">View Calendar</button>
</div>
<div id="appointment-list" class="active">
  <ul id="apptList">
    <li class="no-appointments">
      <p th:if="${appointments.isEmpty()}">No appointments scheduled for </p>
    </li>
    <li th:each="appointment: ${appointments}" class="appt-item">
      <strong th:text="${appointment.apptType}"></strong> -
      <span th:text="${appointment.apptInfo}"></span>
      on
      <span th:text="${#temporals.format(appointment.apptDateTime, 'MM/dd/yyyy')}"></span>
      at
      <span th:text="${#temporals.format(appointment.apptDateTime, 'hh:mm a')}"></span>
      <button class="delete-appt" th:onclick="deleteAppointment([[${appointment.apptID}]])">Delete</button>
    </li>
  </ul>
</div>

<div id="calendar" th:insert="~{calendar/fragments/calendar}"></div>

<script th:src="@{/js/calendar/providerCalendar.js}"></script>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>
</div>