<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Education</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/information.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header th:replace="~{common/fragments/header}"></header>
    <nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
    <div th:replace="~{education/fragments/desktop/infomenu :: infomenu}"></div>
    <div class="container">
      <h2 class="title">Helpful resources</h2>
      <h3 class="subtitle">Lymphedema</h3>
        <ul class="resource_list">
            <li class="res_item"><a href="https://www.lymphoedema.org/">Lymphoedema Support Network</a></li>
        </ul>
      <h3 class="subtitle">Cancer</h3>
        <ul class="resource_list">
            <li class="res_item"><a href="https://www.maggies.org/">Maggie's</a> - Cancer care centers</li>
            <li class="res_item"><a href="https://theswallows.org.uk/">Swallows</a> - Head and Neck cancer support groups</li>
        </ul>
    </div>
    <div class="section_nav">
        <a th:href="@{/treatment}" class="section_link">&larr;Treatments</a>
    </div>
    <script th:src="@{/js/components/header.js}"></script>
  </body>
</html>
