<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Patient</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/addPatient.css}" />
</head>
<body>
<div class="container">
    <header th:replace="~{common/fragments/header}"></header>
    <nav th:replace="~{common/fragments/navbaradmin}" class="nav"></nav>
    <h1 id="registration">Patient Registration</h1>
    <form action="/api/register" id="register" method="post">
        <label for="patientName">Patient Name:</label>
        <input type="text" id="patientName" name="patientName" required>

        <label for="patientLastName">Patient Last Name:</label>
        <input type="text" id="patientLastName" name="patientLastName" required>

        <label for="patientEmail">Patient Email:</label>
        <input type="email" id="patientEmail" name="patientEmail" required>

        <label for="patientMobile">Patient Mobile:</label>
        <input type="text" id="patientMobile" name="patientMobile" required>

        <label for="nhsNumber">NHS Number:</label>
        <input type="text" id="nhsNumber" name="nhsNumber" required>

        <label for="patientDOB">Date of Birth:</label>
        <input type="date" id="patientDOB" name="patientDOB" required>

        <label for="patientTitle">Patient Title:</label>
        <input type="text" id="patientTitle" name="patientTitle" required>

        <label for="patientClinic">Patient Clinic:</label>
        <input type="text" id="patientClinic" name="patientClinic" required>

        <button type="submit">Register Patient</button>
    </form>
</div>
<div class="back-btn" onclick="location.href='/account'">
    Back
</div>
</body>
</html>