<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
</head>
<body>
    <header th:replace="~{common/fragments/header}"></header>
    <nav th:replace="~{common/fragments/navbaradmin}" class="nav"></nav>
<div class="container">
    <h2>Search patient page!</h2>
    <form action="/provider/search/patientsearch" method="post">
        <!-- <label for="patientNhsNumber">Patient NHS number:</label>
        <input type="text" id="patientNhsNumber" name="patientNhsNumber"> -->
        <label for="patientName">Patient First Name:</label>
        <input type="text" id="patientName" name="patientName">
        <label for="patientLastName">Patient Last Name:</label>
        <input type="text" id="patientLastName" name="patientLastName">
        <input type="submit" value="Search" class="update_button"/>
    </form>
    <table th:if="${results != null}">
        <thead>
            <tr>
                <th>NHS number</th>
                <th>Patient name</th>
                <th>Date of birth</th>
                <th>Patient email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="r : ${results}">
                <td><a th:href="@{'/patientprofile/' + ${r.userId}}" class="row-link">[[${r.nhsNumber}]]</a></td>
                <td><a th:href="@{'/patientprofile/' + ${r.userId}}" tabindex="-1" class="row-link">[[${r.patientName}]] [[${r.patientLastName}]]</a></td>
                <td><a th:href="@{'/patientprofile/' + ${r.userId}}" tabindex="-1" class="row-link">[[${r.patientDOB}]]</a></td>
                <td><a th:href="@{'/patientprofile/' + ${r.userId}}" tabindex="-1" class="row-link">[[${r.patientEmail}]]</a></td>
            </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>