<header th:fragment="header">
  <script src="https://kit.fontawesome.com/846d357ac5.js" crossorigin="anonymous"></script>
  <div class="header-container">
    <a th:if="${navMenuItems}" class="navmenu-toggle-icon"><i class="fa-solid fa-bars header-icon icon"></i></a>
    <a th:if="${isLoggedIn}" th:href="@{/dashboard}" class="header-logo-link">
<!--      <div>-->
        <img
          th:src="@{/images/NHS_logos/nhs-logo.jpg}"
          alt="NHS Logo"
          class="header-logo"
        />
<!--      </div>-->
<!--      <div style="font-weight: bold; font-size: 1rem; color: var(&#45;&#45;nhs-black);">University Hospitals of Derby and Burton</div>-->
<!--      <div style="font-weight: bold; font-size: 0.6rem; color: var(&#45;&#45;nhs-bright-blue);">NHS Foundation Trust</div>-->
    </a>
    <a th:unless="${isLoggedIn}" th:href="@{/}" class="header-logo-link">
      <img
              th:src="@{/images/NHS_logos/nhs-logo.jpg}"
              alt="NHS Logo"
              class="header-logo"
      />
    </a>
    <a th:if="${isLoggedIn}" th:href="@{/account}" class="profile-icon">
      <i class="fa-solid fa-user header-icon icon"></i>
      <span class="profile-icon-text">My account</span>
    </a>
  </div>
  <div class="header-title">
    <h1 id="page-title"></h1>
  </div>
</header>