 <nav th:fragment="navbar" class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a th:href="@{/provider/search}" class="navbar-link">
          <img th:src="@{/images/navicons/home.png}" alt="Search" class="navbar-icon">
<!--          <i class="fa-solid fa-house fa-2xl navbar-icon" title="Home"></i>-->
          <span class="navbar-text">Search</span>
        </a>
      </li>
      <li class="navbar-item">
        <a th:href="@{/patientprofile/info}" class="navbar-link">
          <img th:src="@{/images/navicons/dashboard.png}" alt="Placeholder" class="navbar-icon">
<!--          <i class="fa-solid fa-chart-simple fa-2xl navbar-icon" title="Plan"></i>-->
          <span class="navbar-text">Patient placeholder access</span>
        </a>
      </li>
      <li class="navbar-item">
        <a th:href="@{/addpatient}" class="navbar-link">
          <img th:src="@{/images/navicons/dashboard.png}" alt="Add Patient" class="navbar-icon">
          <!--          <i class="fa-solid fa-chart-simple fa-2xl navbar-icon" title="Plan"></i>-->
          <span class="navbar-text">Add New Patient</span>
        </a>
      </li>
    </ul>
  </nav>
