 <nav th:fragment="navbar" class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a th:href="@{/dashboard}" class="navbar-link">
          <img th:src="@{/images/navicons/home.png}" alt="Home" class="navbar-icon">
<!--          <i class="fa-solid fa-house fa-2xl navbar-icon" title="Home"></i>-->
          <span class="navbar-text">Home</span>
        </a>
      </li>
      <li class="navbar-item">
        <a th:href="@{/management}" class="navbar-link">
          <img th:src="@{/images/navicons/dashboard.png}" alt="Management" class="navbar-icon">
<!--          <i class="fa-solid fa-chart-simple fa-2xl navbar-icon" title="Plan"></i>-->
          <span class="navbar-text">Plan</span>
        </a>
      </li>
      <li class="navbar-item">
        <a th:href="@{/diary}" class="navbar-link">
          <img th:src="@{/images/navicons/diary.png}" alt="Diary" class="navbar-icon">
<!--          <i class="fa-solid fa-address-book fa-2xl navbar-icon" title="Diary"></i>-->
          <span class="navbar-text">Diary</span>
        </a>
      </li>
      <li class="navbar-item">
        <a th:href="@{/information}" class="navbar-link">
          <img th:src="@{/images/navicons/info.png}" alt="Education" class="navbar-icon">
<!--          <i class="fa-solid fa-book-open fa-2xl navbar-icon" title="Education"></i>-->
          <span class="navbar-text">Learn</span>
        </a>
      </li>
      <li class="navbar-item">
        <a th:href="@{/calendar}" class="navbar-link">
          <img th:src="@{/images/navicons/calendar.png}" alt="Calendar" class="navbar-icon">
<!--          <i class="fa-solid fa-calendar-days fa-2xl navbar-icon" title="Calendar"></i>-->
          <span class="navbar-text">Calendar</span>
        </a>
      </li>
    </ul>
  </nav>
