<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/common/header}"></header>
      <div th:replace="~{fragments/common/navbar :: nav}"></div>
      <h2 class="text-xl font-bold">Mobile Dashboard</h2>
      <p>Welcome</p>
    </div>
    <div id="widget-container"></div>
    <script th:src="@{/js/components/header.js}"></script>
    <script type="module" th:src="@{/js/Widget/widget.js}"></script>
  </body>
</html>
