#registration, #reset {
    padding: 5px 10px;
}

#register, #passwordReset{
    padding: 1rem;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

input {
    width: 100%;
    margin: 0.5rem 0;
    box-sizing: border-box;
    font-size: 1rem;
    border: solid var(--nhs-dark-grey);
}

button {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--nhs-blue);
    color: var(--nhs-white);
    border: none;
}

button:hover {
    background-color: var(--nhs-dark-blue);
}

.back-btn {
    cursor: pointer;
    color: var(--nhs-blue);
    padding: 10px 20px;
}

input {
    font-size: large;
}