<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Widget Library</title>
    <!-- Common CSS -->
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/common/defaultLayout.css}" />
    <link rel="stylesheet" th:href="@{/css/widgetLibrary/widgetLibrary.css}" />

    <!-- Page specific CSS -->
    <th:block layout:fragment="css"></th:block>
  </head>
  <body>
    <div th:replace="~{common/fragments/header :: header}"></div>
    <nav th:replace="~{common/fragments/navbar :: navbar}" class="nav"></nav>

    <div class="main-container">
      <!-- NavMenu (if present) -->
      <!--       <div
        th:if="${navMenuItems != null}"
        th:replace="~{common/fragments/navmenu :: navmenu (${navMenuItems})}"
      ></div> -->

      <!-- Main content -->
      <main layout:fragment="content" class="main-content">
        <!-- Page content will be inserted here -->
        <div class="library-title-container">
          <h1 class="library-title">Widget Library</h1>
          <p class="library-subtitle">
            This is a library of widgets that can be added or removed from your
            personal dashboard. The widgets provide convenient and quick access
            to your most used functions, like tracking your daily health
            actions.
          </p>
        </div>

        <!-- Section: Widgets Currently on Dashboard -->
        <section class="widget-section">
          <h2 class="widget-section-title-dashboard-current">
            Widgets Currently on Your Dashboard
          </h2>
          <p class="widget-section-description">
            To remove a widget from your dashboard, tap each widget icon to
            select them, then tap on the button saying "Remove Widget."
          </p>

          <!-- Widgets Grid -->
          <div class="widget-grid" id="current-widgets-grid">
            <!-- Example Widget -->
          </div>

          <!-- Remove Widget Button -->
          <div class="action-button-container">
            <button class="action-button remove-widget-button">
              Remove Widget
            </button>
          </div>
        </section>

        <!-- Section: Available Widgets -->
        <section class="widget-section">
          <h2 class="widget-section-title-dashboard-add">Available Widgets</h2>
          <p class="widget-section-description">
            To add a widget to your dashboard, tap the icon of the widget you
            want and then tap on the button "Add Widget."
          </p>

          <!-- Widgets Grid -->
          <div class="widget-grid" id="available-widgets-grid">
            <!-- js will dynamically insert widgets here -->
          </div>
          <!-- Add Widget Button -->
          <div class="action-button-container">
            <button class="action-button add-widget-button">Add Widget</button>
          </div>
        </section>
      </main>

      <div th:if="${navMenuItems != null}" class="navmenu-spacer"></div>
    </div>

    <!-- Common JavaScript -->
    <script th:src="@{/js/common/header.js}"></script>
    <script th:src="@{/js/common/components/NHSButton.js}"></script>

    <!-- Page specific JavaScript -->
    <th:block layout:fragment="scripts">
      <script type="module" th:src="@{/js/Widget/widgetLibrary.js}"></script
    ></th:block>
  </body>
</html>
