<form th:action="@{/appointments}" method="post" id="apptForm">
<!-- Get date and time separately then combine later -->
  <label class="form-section">
    <span>Date of Appointment:</span>
    <input type="date" id="apptDate" name="apptDate" required>
  </label>
  <label class="form-section">
    <span>Time of Appointment:</span>
    <input type="time" id="apptTime" name="apptTime" required>
  </label>
  <label class="form-section">
    <span>Appointment Location:</span>
    <input type="text" id="apptLocation" placeholder="Please enter the location of your appointment" required>
  </label>
  <label class="form-section">
    <span>Appointment Type:</span>
    <input type="text" id="apptType" placeholder="Please enter what your appointment is" name="apptType">
  </label>
  <label class="form-section">
    <span>Provider's Name:</span>
    <input type="text" id="apptProvider" placeholder="Please enter the name of your provider" name="apptProvider">
  </label>
  <label class="form-section">
    <span>Information about your Appointment:</span>
    <textarea id="apptInfo" placeholder="Info about your appointment" name="apptInfo"></textarea>
  </label>
  <div class="button-container">
    <button type="submit" id="addAppointment">
      Add
    </button>
    <button type="reset" id="deleteAppointment">
      Clear
    </button>
  </div>
</form>