<!DOCTYPE html>
<form th:fragment="profileUpdate" action="/updatePatient" method="post">
    <input type="text" name="patientTitle" th:value="${patient.title}"/>
    <input type="text" name="patientName" th:value="${patient.name}"/>
    <input type="text" name="patientLastName" th:value="${patient.lastName}"/>
    <input type="text" name="patientMobile" th:value="${patient.mobile}"/>
    <input type="text" name="patientEmail" th:value="${patient.email}"/>
    <br>
    <input type="submit" value="Update" class="update_button"/>
</form>