<!DOCTYPE html>
<form th:fragment="checkinForm" class="checkin-form" id="checkin-form" action="/diary/checkin" method="post" data-redirect="/diary" enctype="multipart/form-data">
  <div class="checkin-section">
    <div class="checkin-section-title">
      <h3>Mood</h3>
      <i class="fa-solid fa-check checkin-icon"></i>
    </div>
    <div class="checkin-section-content checkin-mood hidden">
      <div class="checkin-mood-button">
        <input type="radio" id="awful" name="mood" value="AWFUL">
        <i class="fa-regular fa-face-sad-tear checkin-icon awful"></i>
        <label for="awful">Awful</label>
      </div>
      <div class="checkin-mood-button">
        <input type="radio" id="bad" name="mood" value="BAD">
        <i class="fa-regular fa-face-frown checkin-icon bad"></i>
        <label for="bad">Bad</label>
      </div>
      <div class="checkin-mood-button">
        <input type="radio" id="okay" name="mood" value="OKAY">
        <i class="fa-regular fa-face-meh checkin-icon okay"></i>
        <label for="okay">Okay</label>
      </div>
      <div class="checkin-mood-button">
        <input type="radio" id="good" name="mood" value="GOOD">
        <i class="fa-regular fa-face-smile checkin-icon good"></i>
        <label for="good">Good</label>
      </div>
      <div class="checkin-mood-button">
        <input type="radio" id="great" name="mood" value="GREAT">
        <i class="fa-regular fa-face-grin-beam checkin-icon great"></i>
        <label for="great">Great</label>
      </div>
    </div>
  </div>
  <div class="checkin-section">
    <div class="checkin-section-title">
      <h3>Symptoms</h3>
      <i class="fa-solid fa-check checkin-icon"></i>
    </div>
    <div class="checkin-section-content checkin-symptoms hidden">
      <h4>Trouble sleeping</h4>
      <input type="hidden" name="symptoms[0].name" value="Trouble sleeping">
      <div class="checkin-symptom-selection">
        <div>
          <input type="radio" id="trouble-sleeping-1" name="symptoms[0].severity" value="1" class="checkin-symptom" />
          <label for="trouble-sleeping-1">Not at all</label>
        </div>
        <div>
          <input type="radio" id="trouble-sleeping-2" name="symptoms[0].severity" value="2" class="checkin-symptom" />
          <label for="trouble-sleeping-2">A little</label>
        </div>
        <div>
          <input type="radio" id="trouble-sleeping-3" name="symptoms[0].severity" value="3" class="checkin-symptom" />
          <label for="trouble-sleeping-3">Quite a bit</label>
        </div>
        <div>
          <input type="radio" id="trouble-sleeping-4" name="symptoms[0].severity" value="4" class="checkin-symptom" />
          <label for="trouble-sleeping-4">A lot</label>
        </div>
      </div>
      <h4>Pain</h4>
      <input type="hidden" name="symptoms[1].name" value="Pain">
      <div class="checkin-symptom-selection">
        <div>
          <input type="radio" id="pain-1" name="symptoms[1].severity" value="1" class="checkin-symptom" />
          <label for="pain-1">Not at all</label>
        </div>
        <div>
          <input type="radio" id="pain-2" name="symptoms[1].severity" value="2" class="checkin-symptom" />
          <label for="pain-2">A little</label>
        </div>
        <div>
          <input type="radio" id="pain-3" name="symptoms[1].severity" value="3" class="checkin-symptom" />
          <label for="pain-3">Quite a bit</label>
        </div>
        <div>
          <input type="radio" id="pain-4" name="symptoms[1].severity" value="4" class="checkin-symptom" />
          <label for="pain-4">A lot</label>
        </div>
      </div>
      <h4>Numbness</h4>
      <input type="hidden" name="symptoms[2].name" value="Numbness">
      <div class="checkin-symptom-selection">
        <div>
          <input type="radio" id="numbness-1" name="symptoms[2].severity" value="1" class="checkin-symptom" />
          <label for="numbness-1">Not at all</label>
        </div>
        <div>
          <input type="radio" id="numbness-2" name="symptoms[2].severity" value="2" class="checkin-symptom" />
          <label for="numbness-2">A little</label>
        </div>
        <div>
          <input type="radio" id="numbness-3" name="symptoms[2].severity" value="3" class="checkin-symptom" />
          <label for="numbness-3">Quite a bit</label>
        </div>
        <div>
          <input type="radio" id="numbness-4" name="symptoms[2].severity" value="4" class="checkin-symptom" />
          <label for="numbness-4">A lot</label>
        </div>
      </div>
    </div>
  </div>
  <div class="checkin-section">
    <div class="checkin-section-title">
      <h3>Photos</h3>
      <i class="fa-solid fa-check checkin-icon"></i>
    </div>
    <div class="checkin-section-content checkin-photos hidden">
      <camera-component></camera-component>
      <photo-container></photo-container>
    </div>
  </div>
  <div class="checkin-section">
    <div class="checkin-section-title">
      <h3>Measurements</h3>
      <i class="fa-solid fa-check checkin-icon"></i>
    </div>
    <div class="checkin-section-content checkin-measurements hidden">
      <div class="checkin-measurements-container"></div>
      <button type="button" class="add-measurement-button" id="add-measurement-button">Add measurement</button>
    </div>
  </div>
  <div class="checkin-section">
    <div class="checkin-section-title">
      <h3>Notes</h3>
      <i class="fa-solid fa-check checkin-icon"></i>
    </div>
    <div class="checkin-section-content checkin-notes hidden">
      <label for="notes">Add notes</label>
      <textarea form="checkin-form" id="notes" name="notes" class="checkin-notes"></textarea>
    </div>
  </div>
  <button type="submit" class="checkin-submit">Submit</button>
</form>
