<div th:fragment="diaryEntry(diaryEntryDTO)" class="diary-entry">
    <div class="diary-entry-title-container">
        <h2 class="diary-entry-title" th:attr="data-date=${diaryEntryDTO.date}"></h2>
    </div>
    <div class="diary-entry-content">
        <div class="diary-entry-preview">
            <div th:if="${diaryEntryDTO.mood}" th:switch="${diaryEntryDTO.mood.name()}">
                <div th:case="'GREAT'">
                    <i class="fa-regular fa-face-grin-beam"></i>
                </div>
                <div th:case="'GOOD'">
                    <i class="fa-regular fa-face-smile"></i>
                </div>
                <div th:case="'OKAY'">
                    <i class="fa-regular fa-face-meh"></i>
                </div>
                <div th:case="'BAD'">
                    <i class="fa-regular fa-face-frown"></i>
                </div>
                <div th:case="'AWFUL'">
                    <i class="fa-regular fa-face-sad-tear"></i>
                </div>
            </div>
            <div th:if="${diaryEntryDTO.symptoms != null and diaryEntryDTO.symptoms.size() > 0}">
                <i class="fa-solid fa-notes-medical"></i>
            </div>
            <div th:if="${diaryEntryDTO.photos != null and diaryEntryDTO.photos.size() > 0}">
                <i class="fa-solid fa-camera"></i>
            </div>
<!--            <div th:if="${diaryEntryDTO.measurements != null and diaryEntryDTO.measurements.size() > 0}">-->
<!--                <i class="fa-solid fa-ruler"></i>-->
<!--            </div>-->
            <div th:if="${diaryEntryDTO.notes != null and !#strings.isEmpty(diaryEntryDTO.notes)}">
                <i class="fa-solid fa-file-lines"></i>
            </div>
        </div>
        <div class="diary-entry-full hidden">
            <div class="diary-entry-section">
                <h3>Mood</h3>
                <th:block th:if="${diaryEntryDTO.mood}" th:switch="${diaryEntryDTO.mood.name()}">
                    <div th:case="'GREAT'">
                        <i class="fa-regular fa-face-grin-beam"></i>
                        <span>Great</span>
                    </div>
                    <div th:case="'GOOD'">
                        <i class="fa-regular fa-face-smile"></i>
                        <span>Good</span>
                    </div>
                    <div th:case="'OKAY'">
                        <i class="fa-regular fa-face-meh"></i>
                        <span>Okay</span>
                    </div>
                    <div th:case="'BAD'">
                        <i class="fa-regular fa-face-frown"></i>
                        <span>Bad</span>
                    </div>
                    <div th:case="'AWFUL'">
                        <i class="fa-regular fa-face-sad-tear"></i>
                        <span>Awful</span>
                    </div>
                    <div th:case="*">
                        <i class="fa-regular fa-question-circle"></i>
                        <span>Mood not set</span>
                    </div>
                </th:block>
            </div>

            <div class="diary-entry-section">
                <h3>Symptoms</h3>
                <th:block th:each="symptom : ${diaryEntryDTO.symptoms}">
                    <div class="diary-entry-symptom">
                        <h4 th:text="${symptom.name}"></h4>
                        <th:block th:switch="${symptom.severity}">
                            <div th:case="1">
                                <span>Not at all</span>
                            </div>
                            <div th:case="2">
                                <span>A little</span>
                            </div>
                            <div th:case="3">
                                <span>Quite a bit</span>
                            </div>
                            <div th:case="4">
                                <span>A lot</span>
                            </div>
                        </th:block>
                    </div>
                </th:block>
            </div>

            <div class="diary-entry-section">
                <h3>Photos</h3>
                <div class="diary-entry-photos-container">
                    <th:block th:each="photo : ${diaryEntryDTO.photos}">
                        <img th:src="@{/files/{filename}(filename=${photo.url})}" class="diary-entry-photo" />
                    </th:block>
                </div>
            </div>

            <div class="measurement-section">
                <!-- Iterate over two-sided measurement groups (e.g., ARM, LEG) -->
                <div th:each="group : ${diaryEntryDTO.twoSidedMeasurementGroups}">
                    <h5 th:text="${group.type}"></h5>

                    <!-- Table for two-sided measurements -->
                    <table>
                        <thead>
                        <tr>
                            <th>Location</th>
                            <th>Left Side</th>
                            <th>Right Side</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Iterate over each location in the group -->
                        <tr th:each="location : ${group.locations}">
                            <td th:text="${location.location}"></td>
                            <td th:if="${location.leftMeasurement != null}">
                                <span th:text="${location.leftMeasurement.value}"></span>
                                <span th:text="${location.leftMeasurement.unit}"></span>
                            </td>
                            <td th:if="${location.rightMeasurement != null}">
                                <span th:text="${location.rightMeasurement.value}"></span>
                                <span th:text="${location.rightMeasurement.unit}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Non-sided measurements section -->
                <div th:if="${diaryEntryDTO.nonSidedMeasurements.size() > 0}">
                    <div th:each="measurement : ${diaryEntryDTO.nonSidedMeasurements}">
                        <h5 th:text="${measurement.type}"></h5>
                        <span th:text="${measurement.value}"></span>
                        <span th:text="${measurement.unit}"></span>
                    </div>
                </div>
            </div>

            <div class="diary-entry-section">
                <h3>Notes</h3>
                <p th:text="${diaryEntryDTO.notes}"></p>
            </div>
        </div>
    </div>
</div>
