<!DOCTYPE html>
<div th:fragment="diaryEntry" class="diary-entry">
    <div class="diary-entry-title-container">
        <h3 class="diary-entry-title" th:attr="data-date=${diaryEntry.date}"></h3>
    </div>
    <div class="diary-entry-content">
        <div class="diary-entry-mood">
            <h4>Mood</h4>
        </div>
        <div class="diary-entry-symptoms">
            <h4>Symptoms</h4>
        </div>
        <div class="diary-entry-photos">
            <h4>Photos</h4>
        </div>
        <div class="diary-entry-notes">
            <h4>Notes</h4>
        </div>
    </div>
</div>