<custom-modal th:fragment="eventModal" class="event-modal">
  <button slot="open-btn">Add Cellulitis Episode</button>
  <span slot="title">Add Cellulitis Episode</span>
  <div slot="content" class="event-modal">
    <form id="eventForm" th:action="@{/diary/events}" method="post">
      <div class="modal-section">
        <h3>When did the episode occur?</h3>
        <label for="date" class="form-label">Date of Event</label>
        <input type="date" class="form-control" id="date" name="date" required>
      </div>
      <div class="modal-section">
        <h3>What symptoms did you have?</h3>

        <!-- Redness -->
        <div>
          <input type="checkbox" id="redness" name="redness" value="Redness" aria-controls="redness-severity">
          <label for="redness">Redness</label>
        </div>
        <div id="redness-severity" class="checkin-symptom-selection">
          <th:block th:replace="~{diary/fragments/symptomSeverity :: symptomSeverity('redness')}"></th:block>
        </div>

        <!-- Swelling -->
        <div>
          <input type="checkbox" id="swelling" name="swelling" value="Swelling" aria-controls="swelling-severity">
          <label for="swelling">Swelling</label>
        </div>
        <div id="swelling-severity" class="checkin-symptom-selection">
          <th:block th:replace="~{diary/fragments/symptomSeverity :: symptomSeverity('swelling')}"></th:block>
        </div>
      </div>

      <!-- Duration -->
      <div class="modal-section">
        <h3>How long did the episode last?</h3>
        <label for="duration" class="form-label">Duration in days:</label>
        <input type="number" class="form-control" id="duration" name="duration" required>
      </div>

      <!-- Treatment -->
      <div class="modal-section">
        <h3>What treatment did you receive?</h3>
        <div>
          <input type="checkbox" id="receivedTreatment" aria-controls="treatment-details" data-invert="true">
          <label for="receivedTreatment">I did not receive treatment for this episode of cellulitis.</label>
        </div>
        <div class="treatment-details" id="treatment-details">
          <h3>Tick all that apply:</h3>
          <div>
            <input type="checkbox" id="antibiotics" name="treatments[0].type" value="antibiotics" aria-controls="antibiotics-details">
            <label for="antibiotics">I was prescribed oral antibiotics.</label>
          </div>
          <div class="antibiotics-details" id="antibiotics-details">
            <label for="antibioticsName">Name of antibiotics you were prescribed (optional):</label>
            <input type="text" class="form-control" id="antibioticsName" name="treatments[0].details">
          </div>
          <div>
            <input type="checkbox" id="antibioticsIV" name="treatments[1].type" value="IV antibiotics">
            <label for="antibioticsIV">I received IV antibiotics.</label>
          </div>
          <div>
            <input type="checkbox" id="painkillers" name="treatments[2].type" value="painkillers">
            <label for="painkillers">I was prescribed painkillers.</label>
          </div>
          <div>
            <input type="checkbox" id="hospital" name="treatments[3].type" value="hospital">
            <label for="hospital">I was admitted to hospital.</label>
          </div>
        </div>
      </div>
      <button type="submit" form="eventForm" class="btn btn-primary">Save Event</button>
    </form>
  </div>
</custom-modal>