<custom-modal th:fragment="photoGuidance">
  <a slot="open-btn">How to take a good photo</a>
  <span slot="title">Photo Guidance</span>
  <ul slot="content">
    <li>Ensure nothing is obscuring the area of interest.</li>
    <li>Try to take the photo from the same angle each time, using the guides provided.</li>
    <li>Make sure the area is well lit and in focus.</li>
    <li>Take the photo in front of a plain background.</li>
    <li>Hold the camera steady to ensure the picture is in focus.</li>
    <li>Do not resize or retouch your images.</li>
  </ul>
</custom-modal>