.diary-entry-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.no-entries {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--nhs-mid-grey);
}

@media (max-width: 768px) {
    .diary-entry-container {
        margin: 0;
        background-color: transparent;
    }
}