.event-modal {
    overflow-y: auto;
    height: 70vh;
}

button {
    border: none;
    background-color: var(--nhs-light-green);
    border-radius: 5px;
    padding: 0.5rem;
    color: var(--nhs-white);
    width: 50%;
    font-size: 1rem;
    font-family: var(--regular-font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 0.5rem;
    /*text-align: left;*/
    transition: opacity 0.5s;
    margin-top: 2rem;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.conditional-hidden {
    display: none;
}