/* Category Section Styling */
h1,
h2,
h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.questionnaire-container {
  padding: 2em;
  border-radius: 8px;
  text-align: left;
}

.category-item {
    margin-bottom: 2em;
    margin-left: 1em;
  }
  
  .category-item h2 {
    font-family: var(--heading-font-family);
    font-size: 1.75em;
    color: var(--nhs-black);
    border-bottom: 2px solid var(--nhs-mid-grey);
    padding-bottom: 0.25em;
    margin-bottom: 1em;
  }
  
/*   canvas {
    margin-top: 1em;
    max-width: 100%;
    height: auto;
  }
  

  @media (max-width: 768px) {
    .category-item h2 {
      font-size: 1.5em;
    }
  }
   */