<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/Monthly.css">
    <link rel="stylesheet" href="../css/mobileMonthly.css">
    <title>Mobile Schedule</title>
</head>
<body>
<div class="container-calendar">
    <div id="center">
        <h3>Appointment Schedule</h3>

        <ul id="apptList">
            <li data-event-id="1">
                <strong>Appointment</strong>
                - Appointment description on appointment date
                <button class="delete-event"
                    onclick="deleteEvent(1)">
                Delete
                </button>
            </li>
        </ul>
    </div>
</div>
<script src="../Monthly.js"></script>
</body>
</html>