<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add A Patient</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/guest/guest.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="container">
    <header th:replace="~{common/fragments/header}"></header>
    <h1> Add a New Patient </h1>
</div>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>
