<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div id="info3" class="info-box" th:fragment="info3">
<div class="findUs">
    <h2>How to Find Us</h2>
    <div id="hosp1">
    <h3>Florence Nightingale Community Hospital</h3>
        <img
                src="/images/maps/FNCH-Floor-Map.svg"
                alt="Florence Nightingale Community Hospital Map"
                class="map"
        />
        <p> Outpatients Clinic A </p>

    <p> Location: Level 1, Florence Nightingale Community Hospital, London Road, Derby, DE1 2QY</p>
    </div>
    <div id="hosp2">
        <h3>Long Eaton Health Centre</h3>
        <p> Long Eaton Health Centre,
            Midland Street,
            Long Eaton,
            Nottingham,
            NG10 1RY</p>
    </div>

    <div id="hosp3">
        <h3>Sherwood Forrest Hospitals</h3>
        <img
                src="/images/maps/kmh-june2015-sitemap.svg"
                alt="Florence Nightingale Community Hospital Map"
                class="map"
        />
        <p> Lymphoedema Clinic: Clinic 10 </p>

        <p> Location: Lymphoedema Clinic,
            Clinic 10,
            Kings Mill Hospital
            NG19 4JL </p>
    </div>
</div>
</div>
