<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div id="info3" class="info-box" th:fragment="info3">
    <div class="find-us-dropdown-container">
        <h2>How to Find Us</h2>

        <div class="find-us-dropdown-wrapper" id="florenceNightingale">
            <div class="find-us-dropdown-header" onclick="toggleDropdown('find-us-content-1')">
                <h3>Florence Nightingale Community Hospital</h3>
                <div class="find-us-dropdown-arrow"></div>
            </div>
            <div class="find-us-dropdown-content" id="find-us-content-1">
                <img
                        src="/images/maps/FNCH-Floor-Map.svg"
                        alt="Florence Nightingale Community Hospital Map"
                        class="map"
                        onclick="showPopup('/images/maps/FNCH-Floor-Map.svg')"
                />
                <p>Location: Outpatients Clinic A, Level 1, Florence Nightingale Community Hospital, London Road, Derby, DE1 2QY</p>
                <button onclick="window.location.href='https://www.google.com/maps/dir//Florence+Nightingale+Community+Hospital,+London+Rd,+Derby+DE1+2QY/@52.9145945,-1.4707626,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x4879f11bc3e83cf9:0x9fa0bd6578ef4954!2m2!1d-1.4681851!2d52.9141634!3e0?entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D'" class="guest-btn">Google Maps</button>
            </div>
        </div>

        <div class="find-us-dropdown-wrapper" id="longEaton">
            <div class="find-us-dropdown-header" onclick="toggleDropdown('find-us-content-2')">
                <h3>Long Eaton Health Centre</h3>
                <div class="find-us-dropdown-arrow"></div>
            </div>
            <div class="find-us-dropdown-content" id="find-us-content-2">
                <p>Long Eaton Health Centre, Midland Street, Long Eaton, Nottingham, NG10 1RY</p>
                <button onclick="window.location.href='https://www.google.com/maps/dir//Long+Eaton+Health+Centre,+Midland+St,+Long+Eaton,+Nottingham+NG10+1RY/@52.9012416,-1.2739287,17.35z/data=!4m9!4m8!1m0!1m5!1m1!1s0x4879e8e7b838be83:0x4deee9499eb541fb!2m2!1d-1.2723065!2d52.9013203!3e0?entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D'" class="guest-btn">Google Maps</button>
            </div>
        </div>

        <div class="find-us-dropdown-wrapper" id="sherwoodForrest">
            <div class="find-us-dropdown-header" onclick="toggleDropdown('find-us-content-3')">
                <h3>Sherwood Forrest Hospitals</h3>
                <div class="find-us-dropdown-arrow"></div>
            </div>
            <div class="find-us-dropdown-content" id="find-us-content-3">
                <img
                        src="/images/maps/kmh-june2015-sitemap.svg"
                        alt="Sherwood Forrest Hospitals Map"
                        class="map"
                        onclick="showPopup('/images/maps/kmh-june2015-sitemap.svg')"
                />
                <p>Location: Lymphoedema Clinic, Clinic 10, Kings Mill Hospital, NG19 4JL</p>
                <button onclick="window.location.href='https://www.google.com/maps/dir//Outpatients,+Kings+Mill+Hospital,+Mansfield+Rd,+Sutton-in-Ashfield+NG17+4JL/@53.1339549,-1.2364855,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x48799672da5cf323:0x69fd9dad714286fd!2m2!1d-1.234323!2d53.1341048!3e0?entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D'" class="guest-btn">Google Maps</button>
            </div>
        </div>
    </div>
</div>
</html>
