<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div id="info2" class="info-box" th:fragment="info2">
    <div class="services">
    <p>We are a consultant led service offering medical appointments Monday - Thursday.
        Our therapy led service runs Monday - Friday. We are located across three sites
        (Florence Nightingale Community Hospital; Long Eaton Health Centre; Kings Mill Hospital).</p>

    <p>Treatment is given by multidisciplinary specialist lymphoedema therapists.</p>
</div>
</div>