* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
}

.centre-container {
    width: 100%;
}

.main-content .page-title {
    margin-bottom: 1rem;
}

.page-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--nhs-dark-grey);
}

@media (max-width: 480px) {
    .main-content .page-title {
        display: none;
    }

    .page-subtitle {
        display: none;
    }
}