header {
    background-color: var(--nhs-blue);
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header-container, .header {
    min-height: 30px;
    display: flex;
    align-items: center;
    padding: clamp(15px, 1.4rem, 1.4rem);
    background-color: var(--nhs-blue);
    justify-content: flex-start;
    color: var(--nhs-white);
    position: relative;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    width: 100%;
}

.header-logo-link {
    text-align: right;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-logo {
    height: clamp(30px, 3rem, 3rem);
    width: auto;
}

/*.header-logo-link, .header-logo {*/
/*    height: 100%;*/
/*}*/

.header-title {
    background-color: var(--nhs-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--nhs-white);
    font-family: var(--regular-font-family);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.header-title {
    display: none;
    padding: 1vh;
}

.header-icon {
    color: var(--nhs-white);
}

.navmenu-toggle-icon {
    position: absolute;
    left: clamp(15px, 1.5rem, 1.5rem);
}

.profile-icon {
    position: absolute;
    right: clamp(15px, 1.5rem, 1.5rem);
    text-decoration: none;
}

.profile-icon-text {
    color: var(--nhs-white);
    text-decoration: underline;
}

@media (max-width: 480px) {
    .header-container {
        height: auto;
        padding: clamp(15px, 1rem, 1rem);
        justify-content: center;
    }

    .header-logo {
        height: clamp(30px, 2rem, 2rem);
    }

    .header-icon {
        font-size: 1.5rem;
    }

    .navmenu-toggle-icon {
        left: 1rem;
    }

    .profile-icon {
        right: 1rem;
    }

    .header-title {
        display: flex;
    }

    #page-title {
        margin: 0;
    }

    header {
        position: sticky;
        top: 0;
    }

    .header-container {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .navmenu-spacer {
        display: none;
    }

    .profile-icon-text {
        display: none;
    }

    #page-title {
        font-size: 1.5rem;
    }
}

@media (min-width: 481px) {
    .header-container .navmenu-toggle-icon {
        display: none;
    }
}
