header {
    background-color:var(--nhs-blue);
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    z-index: 3;
}

.header {
    height: 8vh;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding: clamp(15px, 4vh, 4vh);
    background-color: var(--nhs-blue);
    justify-content: flex-start;
    box-sizing: content-box;
    border-bottom: 1px solid var(--nhs-pale-grey);
    color: var(--nhs-white);
    position: relative;
}

.header-logo {
    height: 100%;
}

.header-title {
    background-color: var(--nhs-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--nhs-white);
    font-family: var(--regular-font-family);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.header-title {
    display: none;
    padding: 1vh;
}

.page-title {
    font-size: 2rem;
}

.header-icon {
    color: var(--nhs-white);
    font-size: 3.5vh;
}

.navmenu-toggle-icon {
    position: absolute;
    left: 1rem;
}

.profile-icon {
    position: absolute;
    right: 1rem;
}

@media (max-width: 480px) {
    .header {
        height: 4vh;
        padding: clamp(15px, 2vh, 2vh);
        justify-content: center;
    }

    .header-title {
        display: flex;
    }

    header {
        position: sticky;
        top: 0;
    }
}

@media (min-width: 481px) {
    .header .navmenu-toggle-icon {
        display: none;
    }
}
