/*Import base styles*/

/* Import common component styles */
@import url("/css/common/header.css");
@import url("/css/common/navbar.css");
@import url("/css/common/navmenu.css");

/* Import desktop-specific component styles */
@import url("/css/education/desktop/infomenu.css");

/* Import widget component styles */
@import url("/css/components/widgets/taskCompletion.css");

/* Import utility styles */
@import url("/css/utility/variables.css");
@import url("/css/utility/variables.css");

body {
  font-family: var(--regular-font-family);
  background-color: #e8edee;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

main {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  box-sizing: content-box;
  flex: 1;
  padding: 2rem;
}

