/*Import base styles*/

/* Import common component styles */
@import url("/css/common/header.css");
@import url("/css/common/navbar.css");
@import url("/css/common/navmenu.css");

/* Import desktop-specific component styles */
@import url("/css/education/desktop/infomenu.css");

/* Import widget component styles */
@import url("/css/components/widgets/taskCompletion.css");

/* Import utility styles */
@import url("/css/utility/variables.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular-font-family);
  background-color: #e8edee;
  color: var(--nhs-black);
  line-height: 1.5;
  font-size: 1.1rem;
}

h1 {
  font-size: 2.15rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: bold;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
}

main {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  flex: 1;
  padding: 2rem;
}

a:hover {
  text-decoration: underline;
}

.page-subtitle {
  font-weight: normal;
  color: var(--nhs-mid-grey);
}