/*Import base styles*/

/* Import common component styles */
@import url("/css/common/header.css");
@import url("/css/common/navbar.css");
@import url("/css/common/navmenu.css");

/* Import desktop-specific component styles */
@import url("/css/education/desktop/infomenu.css");

/* Import widget component styles */
@import url("/css/components/widgets/taskCompletion.css");

/* Import utility styles */
@import url("/css/utility/variables.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular-font-family);
  background-color: #e8edee;
  color: var(--nhs-black);
  line-height: 1.5;
  font-size: 1.1rem;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h1, h2, h3, h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

main {
  max-width: 1000px;
  padding: 0 2rem;
  margin: 2rem auto;
}

a:hover {
  text-decoration: underline;
}

.page-subtitle {
  font-weight: normal;
  color: var(--nhs-mid-grey);
}

.not-available-text {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem;
  font-style: italic;
  color: var(--nhs-mid-grey);
}

@media (max-width: 768px) {
  main {
    margin: 0;
    padding: 1rem;
  }
}