<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add Appointment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/mobilecalendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="~{fragments/common/header}"></div>
<nav th:replace="~{fragments/common/navbar}" class="nav"></nav>
<div th:replace="~{fragments/common/navmenu :: navmenu (${navMenuItems})}"></div>
<p>You do not have to add lymphoedema appointments these will be done by your physician</p>
<div class="container-calendar">
    <div id="appointments">
            <form  action="/calendar" id="appointment" name="appointment" method="post" th:object="${addAppointment}">
            <label>Date of Appointment:</label><br>
            <input type="date" id="appointmentDate" th:field="*{ApptTime}"><br>
            <label>Time of Appointment:</label><br>
            <input type="time" id="appointmentTime" th:field="*{ApptTime}"><br>
            <label>Appointment Type:</label><br>
            <input type="text" id="appointmentType" placeholder="Please enter what you appointment is" th:field="*{ApptType}"><br>
            <label>Doctor's Name:</label><br>
            <input type="text" id="dr" placeholder="Please enter the name of your Dr" th:field="*{ApptProvider}"><br>
            <label>Information about your Appointment:</label><br>
            <textarea id="comments" placeholder="Info about your appointment" th:field="*{ApptInfo}"></textarea><br>
            <button id="addEvent" type="submit">
                Add
            </button>
            <button id="deleteAppointment" onclick="deleteEvent()">
                Clear
            </button>
        </form>
    </div>
</div>
<script th:src="@{/js/calendar/calendar.js}"></script>
<script th:src="@{/js/components/header.js}"></script>
</body>
</html>