<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add Appointment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/mobilecalendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="~{fragments/mobile/mobileheader :: header}"></div>
<div class="container-calendar">
    <div id="appointments">
        <p>You do not have to add lymphoedema appointments these will be done by your physician</p>
        <label>Date of Appointment:</label><br>
        <input type="date" id="appointmentDate"><br>
        <label>Time of Appointment:</label><br>
        <input type="time" id="appointmentTime"><br>
        <label>Appointment Type:</label><br>
        <input type="text" id="appointmentType" placeholder="Please enter what you appointment is"><br>
        <label>Doctor's Name:</label><br>
        <input type="text" id="dr" placeholder="Please enter the name of your Dr"><br>
        <label>Information about your Appointment:</label><br>
        <textarea id="comments" placeholder="Info about your appointment"></textarea><br>
        <button id="addEvent" onclick="addEvent()">
            Add
        </button>
        <button id="deleteAppointment" onclick="deleteEvent()">
            Clear
        </button>
    </div>
</div>
<div th:replace="~{fragments/mobile/mobilenav :: mobilenav}"></div>
<script th:src="@{/js/calendar/calendar.js}"></script>
<script th:src="@{/js/components/header.js}"></script>
</body>
</html>