/* Import utility styles */
@import url('/static/css/utility/variables.css');

/* TITLE */
.container h1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color: #005EB8;
}
.header {
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--nhs-blue);
    width: 100%;
    box-sizing: border-box;
    font-size: var(--regular-font-size);
    padding: 0.25rem 0.5rem;
    z-index: 1000;
}

.header h2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nhs-white);
    text-decoration: none;
    margin: 0;
    padding: 1rem;
}

body {
    font-family: Frutiger, sans-serif;
    background-color: #d3d3d3;
    margin: 0;
}

.container-calendar {
    margin: 0 auto;
    overflow: auto;
    justify-content: space-between;
    display: flex;
    position: relative;
    top: 20%;
}

#appointments {
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    position: relative;
    right: 570px;
    top: 5%;
}

.container-calendar #left h1 {
    color: #000000;
    text-align: center;
    position: relative;
    right: 219px;
    top: 10%;
    margin: 0;
}

#appointments h3 {
    color: black;
    font-size: 18px;
    margin: 0;
}

#appointments input[type="time"],
#appointments input[type="date"],
#appointments input[type="text"],
#appointments textarea
{
    margin: 10px 0;
    padding: 5px;
    width: 75%;
}

#appointments button {
    background: #005EB8;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#center {
    position: relative;
    top: 15%;
}

#center h3 {
    color: black;
    font-size: 18px;
    position: relative;
    top:  21%;
    right: 500px;
}

#apptList {
    list-style: none;
    padding: 0;
    position: relative;
}

#apptList li {
    font-size: 16px;
    position: relative;
    top: 107px;
    right: 500px;
}

#right {
    position: relative;
    top: 75px;
}
.delete-event {
    background: rgb(237, 19, 19);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.button-container-calendar button {
    cursor: pointer;
    background: #005eb8;
    color: #fff;
    border: 1px solid #005eb8;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td,
.table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    background-color: #f2f2f2;
    font-weight: bold;
    outline: 1px dashed #005eb8;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}


.date-picker:hover {
    background-color: #005EB8;
    color: white;
    cursor: pointer;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}


.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
    right: 500px;
    top: 5%;
}

#previous {
    float: left;
}

#next {
    float: right;
}


.footer-container-calendar {
    margin-top: 1em;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px;
}
