* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.diary-entry-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    padding: 2vh;
    flex: 5;
    margin: 2vh;
    background-color: var(--nhs-white);
    width: 80%;
    max-width: 800px;
    border-radius: 0.4rem;
}

.diary-entry {
    border-radius: 0.4rem;
    margin: 0 auto;
    color: var(--nhs-black);
    box-shadow: 2px 2px 0.4rem var(--nhs-dark-grey);
    overflow: hidden;
    width: 100%;
    background-color: var(--nhs-white);
}

.diary-entry-title-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--nhs-bright-blue);
    color: white;
    width: 100%;
    height: 40%;
}

.diary-entry-title {
    text-align: left;
    font-size: 1.5rem;

}

.diary-entry-content {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh;
    font-size: 1.2rem;
}

.diary-container {
    display: flex;
    flex-direction: row;
    background-color: var(--nhs-pale-grey);
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;

}

@media (max-width: 768px) {
    .diary-entry-container {
        margin: 0;
        background-color: transparent;
    }
}
