
/*Import base styles*/

/* Import common component styles */
@import url('/css/components/common/header.css');
@import url('/css/components/common/nav.css');
@import url('/css/components/common/navmenu.css');

/* Import desktop-specific component styles */
@import url('/css/components/desktop/infomenu.css');

/* Import mobile-specific component styles */
@import url('/css/components/mobile/mobileinfomenu.css');

/* Import desktop page styles */

/* Import mobile page styles */

/* Import utility styles */
@import url('/css/utility/variables.css');

body, html {
    font-family: var(--regular-font-family);
    font-size: var(--regular-font-size);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}