@media only screen
and (min-device-width: 320px)
and (max-device-width: 640px) {
    :root {
        --font-headers: 20px;
        --font-body: 20px;
    }

    body {
        display: flex;
        align-content: center;
        font-family: Frutiger, sans-serif;
        background-color: #d3d3d3;
        margin: 0;
        width: 100vw;
        min-height: 100svh;
        font-size: 2em;
        row-gap: 2svh;
    }

    .container-calendar {
        padding: 15px;
        margin: 0 auto;
        overflow: auto;
        display: flex;
        justify-content: space-between;
    }

    .container-calendar button #moblist {
        background-color: #005EB8;
        display: flex;
    }

    #appointments {
        padding: 10px;
        margin: 20px 0;
        width: 100%;
    }

    #mobileMonth {
        position: relative;
        top: 50px;
        right: 160px;
        font-size: 26px;
    }

    .container-calendar #mobileMonth h1 {
        color: #000000;
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }

    .container-calendar #mobileAdd h1 {
        font-size: 40px;
    }

    #appointments h3 {
        position: relative;
        color: black;
        font-size: 18px;
        margin: 0;
    }

    #appointments input[type="time"],
    #appointments input[type="date"],
    #appointments input[type="text"],
    #appointments textarea {
        margin: 10px 0;
        width: 90%;
    }

    #moblist button {
        background: #005EB8;
        color: white;
        position: relative;
        width: 150px;
        top: -40px;
        left: 90px;
    }

    #appointments button {
        background: #005EB8;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

    #mobileSchedule {
        position: relative;
        top: 400px;
        right: 550px;
    }

    #mobileSchedule h3 {
        color: black;
        align-content: center;
        font-size: 18px;
    }

    #apptList {
        list-style: none;
        padding: 0;
    }

    #apptList li {
        font-size: 16px;
    }

    .delete-event {
        background: rgb(237, 19, 19);
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        margin-left: 10px;
    }

    .button-container-calendar button {
        cursor: pointer;
        background: #005eb8;
        color: #fff;
        border: 1px solid #005eb8;
        border-radius: 4px;
        padding: 5px 10px;
    }

    .table-calendar {
        border-collapse: collapse;
        width: 100%;
    }

    .table-calendar td,
    .table-calendar th {
        padding: 5px;
        border: 1px solid #e2e2e2;
        text-align: center;
        vertical-align: top;
    }

    .date-picker.selected {
        background-color: #f2f2f2;
        font-weight: bold;
        outline: 1px dashed #005eb8;
    }

    .date-picker.selected span {
        border-bottom: 2px solid currentColor;
    }


    .date-picker:hover {
        background-color: #005EB8;
        color: white;
        cursor: pointer;
    }

    #monthAndYear {
        top: 50%;
        text-align: center;
        margin-top: 0;
    }


    .button-container-calendar {
        position: relative;
        margin-bottom: 1em;
        overflow: hidden;
        clear: both;
    }

    #previous {
        float: left;
    }

    #next {
        float: right;
    }


    .footer-container-calendar {
        margin-top: 1100em;
        padding: 10px 0;
    }

    .footer-container-calendar select {
        cursor: pointer;
        background: #ffffff;
        color: #585858;
        border: 1px solid #bfc5c5;
        border-radius: 3px;
        padding: 5px;
    }
}