.collapsible{
    display: none;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: #b7b7b7;
}
.display_item img{
    height: 20vh;
    width: auto;
    display: none;
}

.gallery_item{
    display: inline-block;
}
.gallery_item img{
    height: 20vh;
    width: auto;
}