.modal-content {
    overflow-y: auto;
}

#apptForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

/* Button styling within the appointments section */
#addAppointment, .add-appt-btn {
    background: var(--nhs-green);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    min-width: 40%;
    height: 2rem;
}

#addAppointment:hover, .add-appt-btn:hover {
    background-color: var(--nhs-dark-green);
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#deleteAppointment {
    background-color: var(--nhs-mid-grey);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    min-width: 40%;
    height: 2rem;
}

#deleteAppointment:hover {
    background-color: var(--nhs-dark-grey);
}


