<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Appointment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/calendar/mobile/mobilecalendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/common/main.css}"/>
</head>
<body>
<div th:replace="~{common/fragments/header}"></div>
<nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
<div th:replace="~{common/fragments/navmenu :: navmenu (${navMenuItems})}"></div>
<p>You do not have to add lymphoedema appointments these will be done by your physician</p>
<div class="container-calendar">
    <div id="appointments">
        <label>Date of Appointment:<br>
            <input type="date" id="appointmentDate"><br>
        </label>
        <label>Time of Appointment:<br>
            <input type="time" id="appointmentTime"><br>
        </label>
        <label>Location of Appointment:<br>
            <input type="text" id="appointmentLocation" placeholder="Please enter the location of your appointment"><br>
        </label>
        <label>Appointment Type:<br>
            <input type="text" id="appointmentType" placeholder="Please enter what your appointment is for"><br>
        </label>
        <label>Healthcare Provider's Name (optional):<br>
            <input type="text" id="dr" placeholder="Please enter the name of your healthcare provider"><br>
        </label>
        <label>Information about your Appointment:<br>
            <textarea id="comments" placeholder="Info about your appointment"></textarea><br>
        </label>
        <button id="addEvent" onclick="addEvent()">
            Add
        </button>
        <button id="deleteAppointment" onclick="deleteEvent()">
            Clear
        </button>
    </div>
</div>
<script th:src="@{/js/calendar/calendar.js}"></script>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>