<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/calendar/mobile/mobilecalendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/common/main.css}"/>
    <title>Calendar</title>
</head>
<body>
<div th:replace="~{common/fragments/header}"></div>
<nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
<div th:replace="~{common/fragments/navmenu :: navmenu (${navMenuItems})}"></div>
<div id="moblist">
    <button onclick="location.href='/calendar/mobileaddappt'" class="add-apt-btn">Add New Appointment</button>
</div>
<div class="container-calendar">
    <div id="mobileMonth">
        <div th:replace="~{calendar/fragments/calendar}"></div>
        <div id="mobileSchedule">
            <h3>Appointment Schedule</h3>
            <ul id="apptList">
            </ul>
        </div>
        <div>
            <button class="delete-event" onclick="deleteAppointment()">
                Delete
            </button>
        </div>
    </div>
</div>
<script th:src="@{/js/calendar/calendar.js}"></script>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>

