<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <!-- Set viewport for responsive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Link to mobile calendar CSS file -->
  <link rel="stylesheet" th:href="@{/css/calendar/mobile/mobilecalendar.css}"/>
  <!-- Link to common styles -->
  <link rel="stylesheet" th:href="@{/css/common/main.css}"/>
  <!-- Title of the webpage -->
  <title>Appointment Schedule</title>
</head>
<body>
<!-- Include common header fragment -->
<div th:replace="~{common/fragments/header}"></div>
<!-- Include navigation bar fragment -->
<nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
<!-- Include navigation menu with dynamic content -->
<div th:replace="~{common/fragments/navmenu :: navmenu (${navMenuItems})}"></div>

<!-- Overview text for appointments -->
<p id="over">Overview of Lymphoedema and other hospital appointments</p>

  <!-- Appointment schedule section -->
  <div id="mobileSchedule">
<!--      <p th:if="${appointments.empty()}">No appointments scheduled yet</p>-->
      <ul id="appointmentList">
      <li data-event-id="1">
      </li>
    </ul>
  </div>
</div>

<!-- Include JavaScript files for calendar functionality -->
<script th:src="@{/js/calendar/calendar.js}"></script>
<script th:src="@{/js/common/header.js}"></script>
<script th:src="@{/js/calendar/addAppointment.js}"></script>
<script th:src="@{/js/calendar/appointment.js}"></script>
<script th:src="@{/js/calendar/addCalendar.js}"></script>
</body>
</html>