.mobileinfomenu{
  position: fixed;
  right: 0;
}
.menu_icon{
  background-color: #005eb8;
  height: 8vh;
  position: fixed;
  right: 0;
}
.infomenu_mobile{
    width: 0px;
    background-color: #005eb8;
    overflow-x: hidden;
    margin-right: 17vw;
    margin-top: 1vh;
    transition: 0.5s;
  }