.spacer{
    height: 20%;
    width: 100%;
}

.mobilenav{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.mbnav_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table;
    background-color: #005eb8;
    height: 10vh;
    width: 100%;
}

.mbnav_item {
    display: table-cell;
  }

.mbnav_link{
    color: white;
    text-align: center;
    padding: 1vh;
    text-decoration: none;
}
.mbnav_link img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}