<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Appointment Calendar</title>
  <link rel="stylesheet" th:href="@{/css/calendar/desktop/calendar.css}"/>
  <link rel="stylesheet" th:href="@{/css/common/main.css}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div th:replace="~{common/fragments/header}" ></div>
<nav th:replace="~{common/fragments/navbar}"></nav>
<div id="header">
  <h1>Appointment Calendar</h1>
  <p>You do not have to add lymphoedema appointments these will be done by your physician</p>
</div>
<div class="container-calendar">
<!--  <div id="left">-->
<!--    <div id="appointments">-->
<!--      <h3>Add Appointment</h3>-->
<!--      <form th:action="@{/calendar}" th:object="${calendar}" method="post">-->
<!--        <label>Date of Appointment:<br>-->
<!--          <input type="date" id="appointmentDate" th:field="*{apptTime}" required><br>-->
<!--        </label>-->
<!--        <label>Time of Appointment:<br>-->
<!--          <input type="time" id="appointmentTime" th:field="*{apptTime}" required><br>-->
<!--        </label>-->
<!--        <label>Appointment Type:<br>-->
<!--          <input type="text" id="appointmentType" placeholder="Please enter what you appointment is" th:field="*{apptType}"><br>-->
<!--        </label>-->
<!--        <label>Doctor's Name:<br>-->
<!--          <input type="text" id="dr" placeholder="Please enter the name of your Dr" th:field="*{apptProvider}"><br>-->
<!--        </label>-->
<!--        <label>Information about your Appointment:<br>-->
<!--          <textarea id="comments" placeholder="Info about your appointment" th:field="*{apptInfo}"></textarea><br>-->
<!--        </label>-->
<!--      <button type="submit" id="addAppointment">-->
<!--        Add-->
<!--      </button>-->
<!--      <button type="reset" id="deleteAppointment">-->
<!--        Clear-->
<!--      </button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->

  <div id="center">
    <h3>Appointment Schedule</h3>
    <ul id="apptList" th:each="appt:${calendar}">
      <li data-event-id="1" th:text="${appt}">
        <button class="delete-event" th:onclick="deleteAppointment">
          Delete
        </button>
      </li>
    </ul>
  </div>
  <div id="right">
    <h3 id="monthAndYear"></h3>
    <div class="button-container-calendar">
      <button id="previous"
              onclick="previous()">
        <
      </button>
      <button id="next" onclick="next()">
        >
      </button>
    </div>
    <table class="table-calendar"
           id="calendar"
           data-lang="en">
      <thead id="thead-month"></thead>

      <tbody id="calendar-body"></tbody>
    </table>
    <div class="footer-container-calendar">
      <label for="month">Jump To: </label>

      <select id="month" onchange="jump()">
        <option value=0>Jan</option>
        <option value=1>Feb</option>
        <option value=2>Mar</option>
        <option value=3>Apr</option>
        <option value=4>May</option>
        <option value=5>Jun</option>
        <option value=6>Jul</option>
        <option value=7>Aug</option>
        <option value=8>Sep</option>
        <option value=9>Oct</option>
        <option value=10>Nov</option>
        <option value=11>Dec</option>
      </select>

      <select id="year" onchange="jump()"></select>
    </div>
  </div>
</div>
</div>
<script th:src="@{/js/calendar/calendar.js}"></script>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>

