<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width,
                   initial-scale=1.0">
  <link rel="stylesheet" href="./Monthly.css">
  <title>Appointment Calendar</title>
</head>

<body>

<div class="wrapper">
  <div class="container-calendar">
    <div id="left">
      <h1>Appointment Calendar</h1>
      <div id="appointments">
        <h3>Add Appointment</h3>
        <label>Date of Appointment:</label>
        <input type="date" id="appointmentDate"><br>
        <label>Time of Appointment:</label><br>
        <input type="time" id="appointmentTime"><br>
        <label>Appointment Type:</label><br>
        <input type="text" id="appointmentType" placeholder="Please enter what you appointment is"><br>
        <label>Doctor's Name:</label><br>
        <input type="text" id="dr" placeholder="Please enter the name of your Dr"><br>
        <label>Information about your Appointment:</label><br>
        <textarea id="comments" placeholder="Info about your appointment"></textarea><br>
        <button id="addEvent" onclick="addEvent()">
          Add
        </button>
        <button id="deleteAppointment" onclick="deleteEvent()">
          Clear
        </button>
      </div>
      <div id="schedule">
        <h3>Appointment Schedule</h3>

        <ul id="reminderList">
          <li data-event-id="1">
            <strong>Appointment</strong>
            - Appointment description on appointment date
            <button class="delete-event"
                    onclick="deleteEvent(1)">
              Delete
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div id="right">
      <h3 id="monthAndYear"></h3>
      <div class="button-container-calendar">
        <button id="previous"
                onclick="previous()">‹</button>
        <button id="next" onclick="next()">›</button>
      </div>
      <table class="table-calendar"
             id="calendar"
             data-lang="en">
        <thead id="thead-month"></thead>

        <tbody id="calendar-body"></tbody>
      </table>
      <div class="footer-container-calendar">
        <label for="month">Jump To: </label>

        <select id="month" onchange="jump()">
          <option value=0>Jan</option>
          <option value=1>Feb</option>
          <option value=2>Mar</option>
          <option value=3>Apr</option>
          <option value=4>May</option>
          <option value=5>Jun</option>
          <option value=6>Jul</option>
          <option value=7>Aug</option>
          <option value=8>Sep</option>
          <option value=9>Oct</option>
          <option value=10>Nov</option>
          <option value=11>Dec</option>
        </select>

        <select id="year" onchange="jump()"></select>
      </div>
    </div>
  </div>
</div>
<script src="./Monthly.js"></script>
</body>

</html>

