<!-- fragments.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
</head>
<body>

<!-- Task Popup Fragment -->
<div th:fragment="taskPopup">
    <div id="task-popup" class="task-popup hidden">
        <div class="task-popup-content">
            <h3>Your Tasks</h3>
            <div id="task-list">
                <!-- Task items will be dynamically inserted here -->
            </div>
            <button id="close-popup" class="close-popup-button">Close</button>
        </div>
    </div>
</div>

</body>
</html>
