<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/guest/guest.css}" />
    <style>

    </style>
    <title>Login</title>
</head>
<body>
<header>
    <div class="header-container">
        <h2>Welcome!</h2>
    </div>
</header>
<main>
    <form th:action="@{/login}" id="login" method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <br>
        <input type="submit" value="Login" class="log-in-btn"/>
    </form>
    <div th:if="${param.error}" class="login_error">Invalid username and password.</div>
    <div class="back-btn" onclick="location.href='/guest'">
        Back
    </div>
</main>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>