@import url("collapsible.css");
@import url("questionnaires.css");

body {
  background-color: var(--nhs-pale-grey);
}

.management-container {
  padding: 1em;
  background-color: var(--nhs-pale-grey);
}

.management-title-container {
  text-align: left;
  margin-bottom: 1em;
}

.management-desktop-title {
  margin-top: 1em;
  font-size: 2em;
  font-weight: bold;
}

.management-desktop-subtitle {
  font-size: 1.25em;
  padding-bottom: 1em;
  color: var(--nhs-dark-grey);
}

h1,
h2,
h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* a {
  color: var(--nhs-blue);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: var(--nhs-dark-pink);
  cursor: pointer;
} */

.urgent-care-plan {
  border-left-color: var(--emergency-services-red);
  background-color: #ffffff;
}

.my-health-tasks {
  border-left-color: var(--nhs-green);
  background-color: #ffffff;
}

.your-treatment-plan {
  border-left-color: var(--nhs-blue);
  background-color: #ffffff;
}

ul {
  padding-left: 1.5em;
}

.action-item,
.treatment-item {
  margin-bottom: 1em;
}

.action-item h3,
.treatment-item h3 {
  margin-bottom: 0.5em;
}

@media (max-width: 480px) {
  .management-desktop-title,
  .management-desktop-subtitle {
    display: none;
  }

  .management-container {
    margin-top: 1.5em;
  }

  .collapsible:hover:not(.expanded) {
    background-color: #ffff;
  }
}
