.assigned-questionnaires {
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
}

/* Container card styling */
.questionnaire-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-bottom: 1em;
}

/* Title styling */
.questionnaire-card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

/* Content styling */
.questionnaire-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Document icon styling */
.questionnaire-document-icon {
  font-size: 2rem;
}

/* Action link styling */
.nhsuk-action-link__link {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.nhsuk-icon__arrow-right-circle {
  margin-right: 8px;
  fill: var(--nhs-green);
}

/* No Assignment Message Styling */
.questionnaire-no-assignment-message {
  display: none;
  font-size: 16px;
  color: #888;
  text-align: center;
  margin-top: 16px;
}
