.task-card {
  background-color: var(--nhs-pale-grey);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-bottom: 1em;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
}

.task-name-header {
  text-align: left;
  font-size: 1.25em;
  font-weight: bold;
  padding-bottom: 0.125em;
  vertical-align: middle;
}

.meta-title {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

.task-desc {
  text-align: left;
  padding: 0.5em 0;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis; /* Truncates text with ellipsis if necessary */
  white-space: normal; /* Allows text to wrap */
  max-height: 3em; /* Limits the height of the description box */
  max-width: 20em;
  height: auto;
}

.task-periodicity,
.task-status,
.check-circle-wrapper {
  text-align: left;
  padding: 0.5em 0;
  vertical-align: top;
  max-width: 20em;
  height: auto;
}

.task-divider {
  border: 0;
  border-bottom: 1px solid var(--nhs-black);
  margin: 0;
}
