html, body, .main-container {height: 100%;}

.container{
    margin-left: 2vw;
}

.reminder{
    background-color: #007f3b;
    color: white;
    border: none;
}

.section_nav{
    padding: 5vh;
    text-align: center;
}

.t_types ul li{
    margin-bottom: 1vh;
}

.collapsible_button, .collapsible_button.active{
    background-color: var(--nhs-blue);
    font-size: medium;
    color: white;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
}

.collapsible_button:after{
    content: ' \002B';
    float: right;
  }
.collapsible_button.active:after {
    content: ' \2212';
    float: right;
  }
.collapsible{
    display: none;
    white-space: normal;
    text-align: justify;
    background-color: #f0f4f5;
    overflow: hidden;
    margin-bottom: 5vh;
    border: var(--nhs-blue) solid;
}
.collapsible p{
    white-space: break-spaces;
    text-align: justify;
    padding: 0 2vw;
}
.collapsible h3{
    margin-bottom: 0;
    text-align: center;
}

.collapsible iframe{
    height: 40vh;
    margin-left: 35%;
}
.collapsible ul {
    padding: 20px;
    list-style: disc;
    width: 80%;
    margin: auto;
}

.collapsible ul li{
    padding: 1vh;
}

.collapsible_video_button, .collapsible_video_button.active{
    font-size: medium;
    background-color: var(--nhs-bright-blue);
    color: white;
    margin-bottom: 1vh;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
}

.collapsible_video_button:after{
    content: ' \002B';
    float: right;
  }
.collapsible_video_button.active:after {
    content: ' \2212';
    float: right;
  }
.collapsible_video{
    display: none;
    white-space: nowrap;
    background-color: #f0f4f5;
    width: 90%;
    overflow: hidden;
    margin-left: 1vh;
    text-align: center;
}
.collapsible_video p{
    white-space: break-spaces;
}

.collapsible_video iframe{
    margin: 0;
}

@media screen and (max-device-width: 768px){
    .container{
        margin: 0;
    }
    .container h2 {
        margin-left: 2vw;
    }
    .title{
        margin: 1vh;
        padding-top: 1vh;
    }
    .collapsible_button, .collapsible_button.active{
        font-size: 5vw;
        width: 100%;
        margin-left: 0;
    }
    .collapsible{
        margin-left: 0;
        border: none;
    }
    .collapsible iframe{
        width: 100%;
        margin: 0;
    }
}