html, body, .main-container {height: 100%;}

.container{
    margin-left: 2vw;
}

.reminder{
    background-color: #007f3b;
    color: white;
    border: none;
}

.section_nav{
    padding: 5vh;
    text-align: center;
}

.t_types ul li{
    margin-bottom: 1vh;
}