html, body, .main-container {height: 100%;}

.container{
    margin-left: 2vw;
}

.reminder{
    background-color: #007f3b;
    color: white;
    border: none;
}

.section_nav{
    padding: 5vh;
    text-align: center;
}

.t_types ul li{
    margin-bottom: 1vh;
}

.collapsible_button, .collapsible_button.active{
    background-color: #005eb8ee;
    color: white;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    margin-top: 1vh;
    width: 95%;
    margin-left: 1vh;
}

.collapsible_button:after{
    content: ' \002B';
  }
.collapsible_button.active:after {
    content: ' \2212';
  }
.collapsible{
    display: none;
    white-space: nowrap;
    background-color: #f0f4f5;
    width: 90%;
    padding: 0px 18px;
    overflow: hidden;
    margin-left: 1vh;
}
.collapsible p{
    white-space: break-spaces;
}

.collapsible iframe{
    height: 40vh;
}

@media screen and (max-device-width: 768px){
    .title{
        margin: 1vh;
        padding-top: 1vh;
    }
    .collapsible_button{
        font-size: 5vw;
        width: 100%;
        margin-left: 0;
    }
    .collapsible{
        margin-left: 0;
    }
    .collapsible iframe{
        width: 100%;
    }
}