.display button{
    display: inline-block;
}
.display_item{
    display: inline-block;
    min-width: 40%;
    text-align: center;
}
.display_item img{
    height: 20vh;
    width: auto;
    display: none;
}

.gallery{
    overflow-x: scroll;
}

.gallery_item{
    display: inline-block;
}
.gallery_item img{
    height: 20vh;
    width: auto;
}

.excercise img{
    height: 30vh;
}

