/* Import utility styles */
@import url('/static/css/utility/variables.css');

.container {
    display: flex;
}

/* TITLE */
.container h1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color: var(--nhs-blue);
}

#app-name {
    font-size: 1.5rem;
}

#infoContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

/* TEXT */
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    color: var(--nhs-blue);
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: medium;
}

html {
    padding: 0;
}

.header-title {
    display: none;
}

/* LANDING PAGE */
.landing-page {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, var(--nhs-blue), var(--nhs-dark-blue));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.nhs-logo {
    top: 30%;
    transform: translateY(-50%);
    width: 125px;
    height: auto;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.separator {
    width: 80%;
    max-width: 300px;
    height: 2px;
    background-color: var(--nhs-white);
    margin-bottom: 1rem;
}

#landing-text {
    color: var(--nhs-white);
    margin: 0;
    padding: 0 1rem;
}

body.landing-page .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

body.landing-page .btn-container button {
    background-color: var(--nhs-white);
    color: var(--nhs-dark-blue);
    border: none;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    width: 80%;
    max-width: 300px;
    cursor: pointer;
}

#app-name {
    color: var(--nhs-white);
}

/* GALLERY VIEW */
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
    background: var(--nhs-white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 0.4rem var(--nhs-dark-grey);
    padding: 20px;
}

.slide {
    display: none;
    padding: 20px;
    text-align: left;
}

.slide h2, .slide h3, .slide p {
    margin: 0 0 15px;
}

@media (max-width: 950px) {
    .prev, .next {
        top: 70%;
    }

    .next {
        right: 30px;
    }

    .prev {
        left: 30px;
    }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: var(--nhs-black);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-50%);
}

.next {
    right: 0;
}

.prev {
    left: 0;
}


/* MOBILE GUEST */
body.guest-page {
    background: linear-gradient(var(--nhs-blue), var(--nhs-dark-blue));
    overflow: hidden;
    height: 100vh;
}

.mobilePages h2 {
    text-align: left;
}

.mobilePages {
    background-color: var(--nhs-pale-grey);
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    padding: 0;
    border: 5px solid var(--nhs-white);
    border-radius: 8px;
    box-shadow: 2px 2px 0.4rem var(--nhs-dark-grey);;
    background: var(--nhs-white);
    text-align: center;
    margin: 0.5rem 0;
    position: relative;
    box-sizing: border-box;
    height: 25vh;
}

.icon-wrapper img {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.icon-text {
    margin: 0;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    background: var(--nhs-white);
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mobileFrag {
    padding: 1rem;
}

.mobileFrag .info-box {
    width: 100%;
    max-width: none;
    padding: 1rem;
    display: block;
    background: transparent;
    box-shadow: none;
    border: none;
    text-align: left;
}

.mobileFrag #info1 {
    margin-top: 10rem;
}

#info2 {
    background: var(--nhs-white);
    padding: 1rem;
}


/* DROP DOWN FIND US */
.find-us-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.find-us-dropdown-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0.5rem 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
}

.find-us-dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    background: var(--nhs-white);
    border-radius: 5px;
    position: relative;
    border: 1px solid var(--nhs-pale-grey);
}

.find-us-dropdown-header h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.find-us-dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--nhs-blue);
    transition: transform 0.3s;
}

.find-us-dropdown-wrapper.active .find-us-dropdown-arrow {
    transform: rotate(180deg);
}

.find-us-dropdown-content {
    display: none;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid var(--nhs-pale-grey);
    border-radius: 0 0 5px 5px;
    background-color: var(--nhs-white);
}

.find-us-dropdown-wrapper.active .find-us-dropdown-content {
    display: block;
}
.map {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.find-us-dropdown-wrapper .guest-btn {
    margin: 1rem;
}

/* POPUP */
.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    margin: 0 1rem;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.8);
}

.popup-content {
    background-color: var(--nhs-white);
    padding: 1rem;
    border-radius: 8px;
    box-shadow:2px 2px 0.4rem var(--nhs-dark-grey);
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.popup-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.popup-close {
    position: absolute;
    top: 100px;
    right: 10px;
    font-size: 3rem;
    color: var(--nhs-blue);
    z-index: 1001;
}

/* DESKTOP GUEST */
.guestLanding {
    background-color: var(--nhs-pale-grey);
}

.info-box {
    display: none;
    width: 90%;
    max-width: 800px;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.sidebar, .sidebar-spacer {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.sidebar button {
    color: var(--nhs-white);
    border: none;
    padding: 1rem;
    margin: 0.75rem 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

#show-info1 {
    background-color: var(--nhs-bright-blue);
}

#show-info2 {
    background-color: var(--nhs-dark-blue);
}

#show-info3 {
    background-color: var(--nhs-purple);
}

#hosp1, #hosp2, #hosp3 {
    text-align: center;
    margin: 0;
}

.appointment h3, .services h3, .findUs h3,
.appointment p, .services p, .findUs p {
    margin: 0.5rem 0;
}

#hosp1 img.map {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.contact {
    margin-top: 1rem;
    text-align: center;
}

.findUs h3, .telephone {
    color: var(--nhs-blue);
    font-weight: bold;
}
.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.bottom-box {
    flex: 1;
    background-color: var(--nhs-white);
    border: 1px solid #ccc;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0.5rem;
}

.bottom-box p {
    margin: 0;
}

.bottom-box p:first-of-type {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#bottom-button {
    border: none;
    background: none;
    box-shadow: none;
}


/* BUTTONS */
body.guest-page .btn-container button{
    background-color: var(--nhs-white);
    color: var(--nhs-dark-blue);
    border: none;
    width: 50%;
    max-width: 300px;
    cursor: pointer;
}
.back-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    color: var(--nhs-blue);
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.log-in-btn, .guest-btn {
    font-weight: 600;
    font-size: medium;
    transition:all 300ms ease;
    padding: 1rem;
    width: 8rem;
    background-color: var(--nhs-blue);
    color:white;
    cursor:pointer;
    border:none;
}

.log-in-btn:hover, .guest-btn:hover {
    background-color: var(--nhs-dark-blue);

}
.landing-page .log-in-btn {
    background-color: var(--nhs-yellow)!important;
}


/* LOGIN */

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    padding: 3rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 90%;
    max-width: 300px;
    box-sizing: border-box;
}

#login input {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    font-size: 1rem;
}

#login button {
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--nhs-blue);
    color: var(--nhs-white);
    border: none;
    border-radius: 5px;
}

#login button:hover {
    background-color: var(--nhs-dark-blue);
}

.login_error{
    text-align: center;
    color: red;
}

.mobile-container {
    flex-direction: column;
}


