<form action="#" th:action="@{/patients/{id}/add-lymphodema-appointment(id={patientId})}" method="post">
  <label for="date">Date:</label>
  <input type="date" id="date" name="date" required><br>

  <label for="time">Time:</label>
  <input type="time" id="time" name="time" required><br>

  <label for="location">Location:</label>
  <input type="text" id="location" name="location" required placeholder="Please enter the location of appointment"><br>

  <label for="type">Type of Appointment:</label>
  <input type="text" id="type" name="type" placeholder="Please enter the type of appointment"><br>

  <label for="provider">Healthcare Provider's Name:</label>
  <input type="text" id="provider" name="provider" placeholder="Please enter the name of the healthcare provider"><br>

  <label for="info">Information about the appointment:</label>
  <input type="text" id="info" name="info" placeholder="Please enter information about your patients appointment"><br>

  <button type="submit">Add Lymphoedema Appointment</button>
</form>