<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/provider}"
>
  <head>
    <title>Questionnaire Hub</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/common/defaultLayout.css}" />
  </head>
  <body>
    <main layout:fragment="content" class="main-content">
      <h1 class="page-title">Questionnaire Hub</h1>
      <div class="container">
        <p th:text="'Patient ID: ' + ${patientId}">Patient ID: 2</p>

        <!-- more content here -->
      </div>
    </main>
  </body>
</html>
