h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    color: #005EB8;
}
.account-container {
    text-align: center;
}
.logout-button {
    font-weight: 600;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--nhs-blue);
    color: var(--nhs-white);
    border: none;
}

.logout-button:hover {
    background-color: #003087;

}