<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Information</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/education/information.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div th:replace="~{common/fragments/header}"></div>
    <nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
    <div th:replace="~{education/fragments/mobile/mobileinfomenu :: mobileinfomenu}"></div>
      <div class="container">
        <h2 class="title">What is Lymphedema?</h2>
        <p>Here is a text about what this condition is.</p>
        <h2 class="title">Causes of lymphedema</h2>
        <h3 class="subtitle">Primary</h3>
        <p>Here is a text about causes of primary lymphedema.</p>
        <h3 class="subtitle">Secondary</h3>
        <p>Here is a text about causes of secondary lymphedema.</p>
        <h4 class="subsection">Cause A</h4>
        <p>Here is a text about cause A.</p>
        <div class="section_nav">
          <a th:href="@{/cellulitis}" class="section_link">Cellulitis &rarr;</a>
        </div>
      </div>
      <div class="spacer">&nbsp;</div>
      <script th:src="@{/js/common/header.js}"></script>
      <script th:src="@{/js/education/mobile/mbinfomenu.js}"></script>
  </body>
</html>
