<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Education</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/education/information.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div th:replace="~{common/fragments/header}"></div>
    <nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
    <div th:if="${navMenuItems != null}" th:replace="~{common/fragments/navmenu :: navmenu (${navMenuItems})}"></div>
    <main>
        <div class="container_m">
          <div class="infosection">
            <h2 class="title">Cellulitis</h2>
            <p>Cellulitis is an infection of the skin or tissues under the skin caused by bacteria (germs).
              People with oedema/swelling are prone to cellulitis because their lymphatic system does
              not work normally. Cellulitis may occur after damage to the skin, such as an insect bite, cut,
              scratch or athlete's foot. It can sometimes occur without an obvious cause.
            </p>
            <p>Early treatment with antibiotics is very important. If an infection is not controlled quickly, a
              person may require hospital treatment with intravenous antibiotics (antibiotics given
              through a drip). There is a risk that cellulitis can damage the lymphatic system and make
              swelling worse. Occasionally, cellulitis infections can be life-threatening.
            </p>
          </div>
          <div class="important_info">
          <div class="important_info_header">
            <h2>What to do if I think I have cellulitis?</h2>
          </div>
          <ul class="important_info_list">
            <li>Contact your doctor immediately. If it is "out of hours", contact an out of hours medical service. The doctor may find it helpful to see a photograph of what your swelling looks like normally.</li>
            <li>If the doctor confirms you have cellulitis, you should start treatment with antibiotics as soon as possible.</li>
            <li>Rest as much as you need to. </li>
            <li>If you need a painkiller, regular paracetamol is recommended.</li>
            <li>You may need to remove compression garments from the infected area, if they are too tight and uncomfortable. Some patients choose to wear an old, looser garment. </li>
            <li>If you usually do lymphatic drainage massage, stop until the cellulitis is better.</li>
            <li>Ideally you should return to wearing your normal compression garments as soon as possible. You may need a new garment if your limb remains more swollen after the infection gets better. </li>
            <li>Let your lymphoedema team know each time you've had an episode of cellulitis. Tell them if your garment does not fit well after an infection. You can do so in the Events section of your Diary.</li>
            </ul>
          </div>
          <h2 class="title">Prevention</h2>
          <p>Take good care of your skin.</p>
          <ul>
            <li>Use a moisturiser every day.</li>
            <li>Try to avoid cuts, insect bites and other injuries to the affected part of your body.</li>
            <li>If your skin gets broken: clean the area, apply an antiseptic and monitor. Seek professional advice if the wound is not healing.</li>
            <li>Treat athlete's foot as soon as possible.</li>
            </ul>
          <h3 class="subtitle">Additional information</h3>
          <p>If you have had cellulitis before, your doctor may choose to prescribe you a "just in case"
            course of antibiotics, so that if you think you are getting cellulitis you can start treatment
            quickly. This is particularly important if you are travelling to an area where immediate
            medical help may not be available. </p>
          <p>If you are prone to infections - if you have had several episodes of cellulitis - you may need
            long-term antibiotics (the doctor calls this "antibiotic prophylaxis"). You should contact the
            lymphoedema clinic who will discuss this further with you.</p>
          <p class="accent">You should always seek medical attention as soon as possible if you have started
            taking antibiotics for a possible cellulitis.</p>
        </div>
    </main>
    <div class="section_nav">
      <a th:href="@{/information}" class="section_link_l">&larr; What is Lymphoedema?</a>
      <a th:href="@{/treatment}" class="section_link_r">Treatments &rarr;</a>
    </div>
    <div class="spacer">&nbsp;</div>
    <script th:src="@{/js/common/header.js}"></script>
    <script th:src="@{/js/education/mobile/mbinfomenu.js}"></script>
  </body>
</html>