<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Education</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/education/treatment.css}"/>
    <link rel="stylesheet" th:href="@{/css/education/information.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div th:replace="~{common/fragments/header}"></div>
    <nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
    <div th:if="${navMenuItems != null}" th:replace="~{common/fragments/navmenu :: navmenu (${navMenuItems})}"></div>
    <main>
      <div class="container">
        <h2>Treatments for lymphoedema of the legs</h2>
      <div class="section_container">
      <div class="section">
        <button type="button" class="collapsible_button">Skincare</button>
        <div class="collapsible">
          <ul>
            <li>Keep legs covered when gardening to prevent any cuts or scratches.</li>
            <li>Do not walk around barefoot. You may step on something or stub your foot.</li>
            <li>Avoid clothes which are tight around the groin or abdomen. They may restrict fluid flow.</li>
            <li>Always dry between toes thoroughly after washing to prevent fungal infection.</li>
            <li>Try to wear correct fitting shoes which are well supporting. Avoid high heeled and low cut shoes.</li>
            </ul>
        </div></div>
        <div class="section">
        <button type="button" class="collapsible_button">Wraps</button>
        <div class="collapsible">
            <p>You have been given wraps to reduce or manage your swollen leg. There are different makes of Velcro wraps. Basically, they are very much the same.</p>
            <div class="gallery">
              <div class="gallery_item">
                <img src="/images/info/garments/g1l.png">
              </div>
              <div class="gallery_item">
                <img src="/images/info/garments/g2l.png">
              </div>
              <div class="gallery_item">
                <img src="/images/info/garments/g3l.png">
              </div>
            </div>
            <h3>Advice for using your wraps</h3>
            <ul>
              <li>We always advise you wear toe caps underneath your foot wrap.</li>
              <li>Never wear the leg wrap without the foot wrap unless you have been given a liner which has compression in the foot area.</li>
              <li>Apply the foot piece and then the leg piece/s working up the leg.</li>
              <li>Wear the wraps as advised by your therapist</li>
              <li>Regularly adjust the wrap throughout the day as it may become loose as swelling reduces.</li>
              <li>Adjust or loosen the wrap if it feels uncomfortable or you get pins and needles or blue toes.</li>
              <li>Remove the wrap if you have a sudden onset of shortness of breathe</li>
              <li>Remove the wrap if you develop any skin allergy to the material</li>
              </ul>
            <h3>How to put on your wraps</h3>
            <p>Your wraps will have arrived with written instructions and maybe pictures on how to put on your wraps. To help you we have also put together some videos which might help you too.</p>
            <p>Please select the appropriate make for the wrap you have been provided with.</p>
            <button type="button" class="collapsible_video_button">Haddenham Easy Wrap for Legs and Feet</button>
            <div class="collapsible_video">
              <p>How to apply the Easywrap Foot piece</p>
              <iframe src="https://www.youtube.com/embed/CnRygwScXDc"></iframe>
              <p>How to apply the Easywrap Leg piece</p>
              <iframe src="https://www.youtube.com/embed/XhKMTt-RYzo"></iframe>
              <p>How to apply the Easywrap Knee + Thigh piece</p>
              <iframe src="https://www.youtube.com/embed/IoWDprUJzps"></iframe>
            </div>
            <button type="button" class="collapsible_video_button">Jobst Farrowwrap for legs and feet supplied by Essity/BSN</button>
            <div class="collapsible_video">
              <p>How to apply the Farrowwrap Foot piece</p>
              <iframe src="https://www.youtube.com/embed/338aVIZuNcg"></iframe>
              <p>HHow to apply the Farrowwrap Leg piece</p>
              <iframe src="https://www.youtube.com/embed/x6XkMfQZFok?list=PLZpegAc41YsLTI1D51tzguKDD59dY5Cvx"></iframe>
              <p>How to apply the Farrowwrap Knee piece</p>
              <iframe src="https://www.youtube.com/embed/iwO3cA_ZVxA"></iframe>
            </div>
            <button type="button" class="collapsible_video_button">Juzo ACS Light</button>
            <div class="collapsible_video">
              <p>How to apply the Juzo Leg and Foot pieces</p>
              <iframe src="https://www.youtube.com/embed/U7tDpdQsTeI"></iframe>
            </div>
            <p>A good tip is to always remember to turn the velcro straps back on themselves once, then twice, to prevent the velcro sticking to everything and getting in a tangle! If you do this as and when you take off the wraps, it will make it much easier to put them on the next time.</p>
          </div></div>
          <div class="section">
          <button type="button" class="collapsible_button">Excercises</button>
          <div class="collapsible">
            <p>Repeat 10 times both sides. You can increase the number of repetitions as you get stronger</p>
            <div class="excercise">
            <h3>Excercise 1:</h3>
            <img src="/images/info/excercises/ex1l.png">
            <p>Stand holding on to a firm surface (e.g. table). Lift one foor off the floor as high as you can. Slowly lower back down.
            </p> </div>
            <div class="excercise">
            <h3>Excercise 2:</h3>
            <img src="/images/info/excercises/ex2l.png">
            <p>Bend your knee, lifting your foot up behind you and lower.</p> </div>
            <div class="excercise">
            <h3>Excercise 3:</h3>
            <img src="/images/info/excercises/ex3l.png">
            <p>Slowly bend both your knees and slowly stand back up.</p> </div>
            <p>The following excercises can also be preformed when in bed or on the chair: </p>
            <div class="excercise">
              <h3>Excercise 4:</h3>
              <img src="/images/info/excercises/ex4l.png">
              <p>Roll your foot in a circle. Repeat in the opposite direction.
              </p>
            </div>
            <div class="excercise">
              <h3>Excercise 5:</h3>
              <img src="/images/info/excercises/ex5l.png">
              <p>Place your foot flat on the floor.
                Tap your heels.
              </p>
            </div>
            <div class="excercise">
              <h3>Excercise 6:</h3>
              <img src="/images/info/excercises/ex6l.png">
              <p>Sit with your feet down. Straighten and bend your knee.
              </p>
            </div>
        </div></div>
        <div class="section">
          <button type="button" class="collapsible_button">Lymphatic drainage</button>
          <div class="collapsible">
            <p>Manual and simple lymphatic drainage is a gentle massage where the skin is stretched along the lymphatic pathway. Regular simple Lymphatic Drainage can help move extra fluid from swollen areas damaged by cancer treatments to areas where the lymphatic system is working well. To be effective Simple Lymphatic drainage needs to be carried out daily and may be a long-term requirement to support the Lymphatic system.</p>
            <iframe src="https://www.youtube.com/embed/XGspjYNAfeE"></iframe>
          </div></div>
      </div>
    </div>
    </main>
    <div class="section_nav">
      <a th:href="@{/treatment}" class="section_link">&larr; Back to full list</a>
    </div>
    <div class="spacer">&nbsp;</div>
    <script th:src="@{/js/common/header.js}"></script>
    <script th:src="@{/js/education/treatmentSpec.js}"></script>
  </body>
</html>
