<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Education</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/treatment.css}"/>
    <link rel="stylesheet" th:href="@{/css/information.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div th:replace="~{common/fragments/header}"></div>
    <nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
    <div th:replace="~{education/fragments/mobile/mobileinfomenu :: mobileinfomenu}"></div>
    <div class="container_tr_mb">
      <h2 class="title">Treatments for lymphedema of the legs</h2>
    <div>
        <button type="button" class="collapsible_button">Garments</button>
        <div class="collapsible">
            <p>Description of different garments.</p>
            <div class="gallery">
              <div class="gallery_item">
                <img src="/images/tempInfo/g1.jpg"><p>Garment type</p>
              </div>
              <div class="gallery_item">
                <img src="/images/tempInfo/g2.jpg"><p>Garment type</p>
              </div>
              <div class="gallery_item">
                <img src="/images/tempInfo/g3.jpg"><p>Garment type</p>
              </div>
            </div>
            <h3>How to put on your garments</h3>
            <p>Step by step instructions and information.</p>
            <h3>How to take off your garments</h3>
            <p>Step by step instructions and information.</p>
            <h3>Care instructions</h3>
            <p>Information on how to take care of your garments.</p>
        </div>
        <button type="button" class="collapsible_button">Exercises</button>
        <div class="collapsible">
          <div class="exercise">
            <p>Text about importance of exercise and explanation for the section.</p>
            <button type="button" class="reminder">Set Reminder</button>
            <h3>Exercise 1: Knee bends</h3>
            <img src="/images/tempInfo/ex1.png">
            <p>Instructions</p>
            <h3>Exercise 2: Ankle bends/circles</h3>
            <img src="/images/tempInfo/ex2.png">
            <p>Instructions</p>
          </div>
        </div>
        <button type="button" class="collapsible_button">Lymph drainage</button>
        <div class="collapsible">
            <p>Explanation of what LDM is and how it can help.</p>
            <button type="button" class="reminder">Set Reminder</button>
            <h3>Techniques</h3>
            <h4>Lower leg</h4>
            <iframe src="https://www.youtube.com/embed/MIv8f2bp3Qc"></iframe>
            <p>Description of the technique.</p>
            <h4>Foot</h4>
            <iframe src="https://www.youtube.com/embed/Hl96LEUwniQ"></iframe>
            <p>Description of the technique.</p>
        </div>
    </div>
  </div>
    <div class="section_nav">
        <a th:href="@{/treatment}" class="section_link">&larr; Back to full list</a>
    </div>
    <div class="spacer">&nbsp;</div>
    <script th:src="@{/js/common/header.js}"></script>
    <script th:src="@{/js/education/mobile/mbinfomenu.js}"></script>
    <script th:src="@{/js/education/treatmentSpec.js}"></script>
  </body>
</html>
