<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Education</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/education/information.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div th:replace="~{common/fragments/header}"></div>
    <nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
    <div th:if="${navMenuItems != null}" th:replace="~{common/fragments/navmenu :: navmenu (${navMenuItems})}"></div>
    <main>
      <div class="container_m">
        <h2 class="title">Treatments for lympohedema</h2>
        <p>There are many options for managing the symptoms of lymphoedema, including skincare, compression garments, excercise, manual lymphatic drainage and general lifestyle changes.
          An individual treatment regime will be planned for you. You will be seen regularly in the Lymphoedema Clinic to assess the effectiveness of the regime.
          Once the swelling has reduced and is stable you will continue to be seen on a regular basis, to monitor your condition and provide replacement compression sleeves or stockings.
        </p>
        <p>In this section you will see information applicable to all types of lymphoedema.</p>
        <h2 class="title">General advice</h2>
        <div class="infosection">
        <p>Diuretics (water tablets) are not generally of benefit in lymphoedema.</p>
        <p>It is advisable not to wear tight clothing i.e. tight underclothes, as these may restrict fluid flow.</p>
        <p>Long journeys by air, rail or road can increase swelling because of long periods of
          immobility. Always wear your compression garments and try to exercise every hour if possible - muscle movement encourages fluid drainage.</p>
        <p>Swelling is more difficult to treat if you are overweight. Keeping your weight under control appears to make it easier for fluid to drain.</p>
        </div>
        <button type="button" class="collapsible_button" style="margin: -2vw;">Skincare</button>
        <div class="collapsible">
        <div class="infosection">
        <p>The skin of a swollen limb is fragile and susceptible to damage and infection. The fluid in the limb is rich in protein, which is an ideal growth medium for bacteria. Lymphoedematous skin tends to be very dry, and small cracks may appear, causing  leakage of clear fluid (lymphorrhoea).</p>
        <p>It is important to moisturise the skin daily to keep it soft and supple. Do not use perfumed creams as they can irritate the skin. Use non-perfumed pure creams such as Aqueous Cream, Diprobase or a lotion as suggested by your therapist.</p>
        <p>A swollen limb is more sensitive to extremes of temperature. Try to avoid very hot baths or showers and protect the limb from the sun - keep in the shade. An increase in temperature could cause an increase in swelling.</p>
        </div>
        <div class="infosection">
        <p>Any break in the skin is a possible site for infection. In order to minimise the risk: </p>
        <ul>
          <li>Extra care is needed when cutting finger or toe nails. It is advisable to use nail clippers rather than scissors.</li>
          <li>Use an electric shaver rather than a wet razor. Depilatory creams may be too harsh for fragile skin - test a small area first.</li>
          <li>Be careful when handling pets to avoid scratches or bites.</li>
          <li>Insect bites can become infected. Protect your skin in warmer weather.</li>
          <li>Try to avoid having blood taken from, or injections in, the swollen limb if possible.</li>
        </ul>
        </div>
        <div class="important_info">
          <div class="important_info_header">If you do have a cut, scratch or bite:</div>
          <ul class="important_info_list">
            <li>Wash the area immediately</li>
            <li>Apply antiseptic cream</li>
            <li>Cover with a plaster or bandage</li>
          </ul>
          <p>An infection in a swollen limb can be quite severe. You may also feel generally unwell and experience flu-like symptoms.</p>
          <p>If the area becomes red, more swollen or painful, go to your GP as soon as possible as these may be signs of infection (cellulitis). It may be necessary for your GP to prescribe a course of antibiotics.</p>
        </div>
        </div>
        <button type="button" class="collapsible_button" style="margin: -2vw;">Garments</button>
        <div class="collapsible">
          <div class="infosection">
        <p>Lymphoedema is a long-term condition, so your arm or leg will always have a tendency to swell. Most people who have lymphoedema will always need to wear a sleeve or stocking. Sometimes a further course of compression bandaging may be needed before a sleeve or stocking can be fitted.</p>
        <p>You have most likely been fitted with a compression garment to wear on your swollen limb. The garment has graduated compression, being stronger at the bottom than the top, to encourage fluid to move up the limb and back into your blood stream. You need to wear your garment every day to control the swelling in your limb. </p>
        <p>It is best to put on your garment as soon as possible after getting up in the morning. As soon as you stand up and start to move around extra fluid goes into the limb and it begins to swell. Some people find it easier to put on their hosiery before getting out of bed.</p>
        <p>You should take it off at night - this is an ideal opportunity to apply moisturising cream. The garment can make your skin dry.</p>
        <p>We appreciate that in hot weather garments can be uncomfortable but unfortunately this is when it is important to wear it as the heat can increase the swelling.</p>
          </div>
          <div class="infosection">
        <h3 class="subtitle">Donning and doffing</h3>
        <p>We appreciate that garments can be difficult to put on. A sprinkling of talcum powder over the limb can help the garment go on a little easier. Rubber gloves can be worn to help you get a better grip.</p>
        <p>Once your garment is on, ensure there are no wrinkles in it - compression will be increased in wrinkled areas, preventing fluid movement and possibly damaging the skin. It is also important not to fold over or turn back your garment, and try to prevent it rolling down, for the same reason</p>
        <p>If your garment digs in around the top, it is possible to put a small pad of gauze or something similar inside the garment to protect the skin.</p>
        <p>If you experience any sore areas when wearing the garment, i.e. in the crook of the elbow or behind the knee, a little Vaseline applied to the area can help.</p>
          </div>
          <div class="infosection">
        <h3 class="subtitle">Taking care of your garments</h3>
        <p>You will have been given 2 garments so that you have a "wash and a wear". Replacement garments will be supplied by the Lymphoedema Clinic when needed.</p>
        <p>To maintain the effectiveness of your garment it is important to follow these washing guidelines:</p>
          <ul>
            <li>Hand wash or use delicate programme in the washing machine up to 40C.</li>
            <li>Use a mild detergent.</li>
            <li>Drip dry. Do not dry over direct heat such as a radiator as the heat will affect the elasticity of your garment, reducing the compression.</li>
        </ul>
          </div>
          <div class="infosection">
        <h3 class="subtitle">Additional information</h3>
        <p>After wearing garments for a while, some people find they can leave it off for short periods without the limb swelling too much. This can be useful for special occasions when you would prefer not to wear your garment. Unfortunately this is not the case for everyone and most people will have to wear it every day. The only way to find out if it is possible to leave your garment off for a while is to try it and see what happens. If your limb begins to swell, you will need to put your garment back on straight away. We will be pleased to discuss this with you if you wish.</p>
        <p>Sometimes you may need a different type or size of garment. It is helpful if you bring all your current garments with you to each attendance at the Lymphoedema Clinic.</p>
          </div>
        </div>
        <h2 class="title">Further treatment information</h2>
        <p>Links below will lead you to the information regarding managing lymphoedema in different parts of the body.</p>
        <p>There you will be able to find specific advice on garments, as well as guidance for excercises and manual massage techniques.</p>
        <nav class="t_types">
          <ul>
            <li><a th:href="@{/treatmentLeg}">Treatments for lymphedema of the legs</a></li>
            <li><a th:href="@{/treatmentArm}">Treatments for lymphedema of the arms</a></li>
            <li><a th:href="@{/treatmentHead}">Treatments for lymphedema of head and neck</a></li>
          </ul>
        </nav>
      </div>
      <div class="section_nav">
        <a th:href="@{/cellulitis}" class="section_link_l">&larr; Cellulitis</a>
        <a th:href="@{/resources}" class="section_link_r">Helpful resources &rarr;</a>
    </div>
    </main>
    <div class="spacer">&nbsp;</div>
    <script th:src="@{/js/common/header.js}"></script>
    <script th:src="@{/js/education/mobile/mbinfomenu.js}"></script>
    <script th:src="@{/js/education/treatmentSpec.js}"></script>
  </body>
</html>