<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Education</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/education/treatment.css}"/>
    <link rel="stylesheet" th:href="@{/css/education/information.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div th:replace="~{common/fragments/header}"></div>
    <nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
    <main>
      <div th:if="${navMenuItems != null}" th:replace="~{common/fragments/navmenu :: navmenu (${navMenuItems})}"></div>
      <div class="container">
        <h2>Treatments for lymphedema of the head and neck</h2>
        <div class="section_container">
            <div class="section">
                <button type="button" class="collapsible_button">Skincare</button>
                <div class="collapsible">
                  <ul>
                      <li>Moisturise the neck, chin and cheeks daily with a non-perfumed moisturiser. Apply using gentle downward strokes towards your neck and collar bone.</li>
                      <li>Keep the skin hydrated by drinking plenty of fluids.</li>
                      <li>Use non perfumed products to cleanse the skin, pat the skin dry do not rub or cause friction as the skin may be fragile post treatment.</li>
                      <li>Take care shaving use an electric shaver to reduce the risk of cutting the skin, avoid facial waxing, electrolysis or facial bleach.</li>
                      <li>Always use a high factor sunscreen (at least SPF30) when exposed to sunlight.</li>
                      <li>Treat any breaks to the skin promptly by cleaning well and applying an antiseptic cream.</li>
                      </ul>
                </div></div>
          <div class="section">
          <button type="button" class="collapsible_button">Wraps</button>
          <div class="collapsible">
            <p>Whilst compression garments are the main treatment for patients with lymphoedema. Head and Neck oedema remains a difficult area to treat with compression.  We do use garments such as a collar or a band to apply compression.  Your therapist will look at the best options for you and advise when to wear this.
            </p>
            <h3>Kinesio tape</h3>
            <p>Kinesio tape can be used to help lymphatic drainage by lifting the skin in the affected area or as a support/correction strip. Kinesio can also be used for scar/ fibrosed tissue.
            </p>
              <div class="gallery">
                <div class="gallery_item">
                  <img src="/images/info/garments/g1h.png">
                </div>
                <div class="gallery_item">
                  <img src="/images/info/garments/g2h.png">
                </div>
                <div class="gallery_item">
                  <img src="/images/info/garments/g3h.png">
                </div>
              </div>
            </div></div>
            <div class="section">
                <button type="button" class="collapsible_button">Excercises</button>
                <div class="collapsible">
                    <p>Sitting comfortable in a good posture shoulders back and head straight repeat the routine 4-5 times a day. </p>
                    <ul>
                        <li>Deep breaths: take 5 deep breaths breathing in through the nose and out through the mouth</li>
                        <li>Shrug shoulders 10 times</li>
                        <li>Push shoulders forward and back -  repeat 10 times</li>
                        <li>Push chin forwards and then bring back to give a double chin - repeat 10 times</li>
                        <li>Turn head to the left - repeat 10 times</li>
                        <li>Turn head to the right - repeat 10 times</li>
                        <li>Take your left ear to your left shoulder - repeat 10 times</li>
                        <li>Now do the same with your right ear - repeat 10 times</li>
                        <li>Look up at the ceiling - repeat 10 times</li>
                        <li>Now look down to the floor - repeat 10 times (make sure chin is tucked in)</li>
                        <li>Now say your vowels: AEIOU in an exaggerated manner - repeat 5 times</li>
                        <li>Smile 5 times</li>
                        <li>With collar on swallow - repeat 3 times</li>
                        <li>Poke out your tongue as far as you can - repeat 5 times</li>
                        <li>Open your mouth as wide as you can - repeat 5 times</li>
                        <li>Frown and screw up your eyes and face - repeat 5 times</li>
                        <li>Now repeat shoulder shrugs and deep breaths as above</li>
                        </ul>
                    <h3>Swallowing exercises for patients who have had radiotherapy to the head and neck</h3>
                  <p>Having radiotherapy to the head and neck area can affect your swallowing. Even if you have had swallowing difficulties that have improved since finishing your treatment, it is still a good idea to regularly to exercise the muscles that work your swallowing to help prevent against any late effects of radiotherapy.</p>
                  <p>The following exercises will help strengthen the key swallowing and chewing muscles. They are designed to be easy to do as part of your daily routine.  They should take no more than a few minutes in total. </p>
                  <div class="excercise">
                  <h3>FRONT OF TONGUE</h3>
                  <img src="/images/info/excercises/ex1h.png">
                  <p>Try to move your tongue around in your mouth as far as you are able. If it is possible, try to clean your teeth with your tongue, starting with the lower teeth (front and back), and then the upper teeth (front and back).</p> </div>
                  <div class="excercise">
                  <h3>BACK OF TONGUE</h3>
                  <img src="/images/info/excercises/ex2h.png">
                  <p>Stick out your tongue. Gently bite down and hold your tongue between your teeth. Swallow your saliva keeping your tongue held in position. Repeat 5-10 times as able. </p> </div>
                  <div class="excercise">
                  <h3>THROAT</h3>
                  <img src="/images/info/excercises/ex3h.png">
                  <p>You will need a small rubber ball or sponge. Sitting upright, place the ball under your chin and hold it in place. Push your chin against the ball for as long as you can, aiming for a maximum of a minute. Repeat twice.
                    In the same position, push your chin against the ball and release quickly. Complete 30 repetitions of this, building up to doing 3 sets of 30 repetitions.</p> </div>
                  <div class="excercise">
                    <h3>AIRWAY</h3>
                    <img src="/images/info/excercises/ex4h.png">
                    <p>Practice swallowing with effort. Hold your breath, push your tongue into the roof of your mouth if you can, squeeze your throat muscles tight and swallow. Repeat this up to 10 times. To make this even more effective, push down on a table or chair arms whilst holding your breath, then swallow</p>
                  </div>
                  <div class="excercise">
                    <h3>JAW</h3>
                    <img src="/images/info/excercises/ex5h.png">
                    <p>Open your mouth as wide as you can to stretch your jaw. Hold this for about 30 seconds, or for as long as you can. </p>
                  </div>
              </div></div>
          <div class="section">
            <button type="button" class="collapsible_button">Lymphatic drainage</button>
            <div class="collapsible">
              <p>Manual and simple lymphatic drainage is a gentle massage where the skin is stretched along the lymphatic pathway. Regular simple Lymphatic Drainage can help move extra fluid from swollen areas damaged by cancer treatments to areas where the lymphatic system is working well. To be effective Simple Lymphatic drainage needs to be carried out daily and may be a long-term requirement to support the Lymphatic system.</p>
              <iframe src="https://www.youtube.com/embed/POTVcQAnyZw"></iframe>
              <h3>Positioning</h3>
              <p>Lymphoedema of the head and neck usually gets worse overnight or if we have been laying down. It may be beneficial to raise the top of end of your bed or use  pillows to try and elevate your head over night.</p>
              <h3>Rollers</h3>
              <p>Jade rollers and wallpaper rollers are a useful tool for lymphatic drainage of the head and neck and can be purchased by patients for usually under £10s.  They are used to help move the fluid through the skin from areas that are struggling to drain to areas that are draining and towards working lymphatics.</p>
            </div></div>
        </div>
      </div>
    </main>
    <div class="section_nav">
      <a th:href="@{/treatment}" class="section_link">&larr; Back to full list</a>
    </div>
    <div class="spacer">&nbsp;</div>
    <script th:src="@{/js/common/header.js}"></script>
    <script th:src="@{/js/education/treatmentSpec.js}"></script>
  </body>
</html>