.tab-content.loading::after {
    content: "Loading...";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 5px;
}

.patient-chart {
    max-width: 100%;
    margin: auto;
    background-color: white;
    padding: 1em;
}

td, th {
    padding: 0.5em;
}