header {
    background-color:var(--nhs-blue);
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.header-mobile {
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
}

.header-logo {
    height: 30px;
}

.header-title-mobile {
    background-color: var(--nhs-blue);
    border-top: 1px solid var(--nhs-pale-grey);
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--nhs-white);
    font-family: var(--regular-font-family);
    font-size: 24px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
