.nav {
    background-color: var(--nhs-blue);
    padding: 2vh;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    gap: 2vh;
    justify-content: flex-start;
}

.nav-list a {
    color: var(--nhs-white);
    text-decoration: none;
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-link {
    text-decoration: none;
}

.nav-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav-icon {
    display: none;
}

header .header-mobile {
    display: none;
}

header .header-title-mobile {
    display: none;
}

.nav-text {
    display: block;
}

.nav-icon {
    display: none;
}

@media (max-width: 768px) {
    .nav-text {
        display: none;
    }

    .nav-icon {
        display: block;
    }

    header .header-mobile {
        display: flex;
    }

    header .header-title-mobile {
        display: flex;
    }

    .nav {
        position: fixed;
        bottom: 0;
        height: 11vh;
        justify-content: center;
    }

    .nav-list {
        justify-content: space-around;
        max-width: 400px;
    }
}
