.dashboard-container {
  padding: 1em;
  margin: 0;
}

#welcome-message {
  font-size: 2.25em;
  font-weight: bold;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

#patient-name {
  font-size: 2.25em;
  font-weight: bold;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.dashboard-subtitle {
  font-size: 1.15em;
  font-weight: lighter;
  padding: 0 0 1vh;
}

.add-widget-button {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #006747;
  color: white;
  border: none;
  padding: 0.8em 1.6em;
  border-radius: 0.4em;
  box-shadow: 0 0.4em 0.6em rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1em;
}

.add-widget-button:hover {
  background-color: #004d36;
}
