.header-desktop {
    padding: 0.5rem;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.nav-list a {
    color: var(--nhs-white);
    text-decoration: none;
}