<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="stylesheet" th:href="@{/css/diary/checkin.css}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Check-in</title>
</head>
<body>
  <div th:replace="~{common/fragments/header}"></div>
  <nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
  <div class="checkin-container">
    <div th:replace="~{common/fragments/navmenu}"></div>
    <div class="checkin-form-container">
      <h1>Check-in</h1>
      <div th:replace="~{diary/fragments/checkinForm}"></div>
    </div>
</div>
<script th:src="@{/js/diary/checkin.js}"></script>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>