<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      lang="en">
<head>
  <title>Check-in</title>
  <link rel="stylesheet" th:href="@{/css/diary/checkin.css}" />
  <link rel="stylesheet" th:href="@{/css/diary/photoCapture.css}" />
</head>
<body>
<main layout:fragment="content">
  <h1 class="page-title">Check-in</h1>
  <div class="container">
    <div th:replace="~{diary/fragments/checkinForm}"></div>
  </div>
</main>
<th:block layout:fragment="scripts">
  <script th:src="@{/js/common/customModal.js}"></script>
  <script th:src="@{/js/diary/components/photoContainer.js}"></script>
  <script th:src="@{/js/diary/components/cameraComponent.js}"></script>
  <script th:src="@{/js/diary/components/photoComponent.js}"></script>
  <script th:src="@{/js/diary/checkin.js}"></script>
</th:block>
</body>
</html>