<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Diary</title>
    <link rel="stylesheet" th:href="@{/css/diary/diary.css}" />
    <link rel="stylesheet" th:href="@{/css/diary/diaryEntry.css}" />
</head>
<body>
<main layout:fragment="content">
    <h1 class="page-title">Diary</h1>
    <p class="page-subtitle">Your daily wellness log</p>
    <div class="container">
        <p class="no-entries">No diary entries yet</p>
        <div class="diary-entries-container"></div>
    </div>
</main>
<th:block layout:fragment="scripts">
    <script th:src="@{/js/diary/components/DiaryEntryGroup.js}" type="module"></script>
    <script th:src="@{/js/diary/components/DiaryEntry.js}" type="module"></script>
    <script th:src="@{/js/diary/diary.js}"></script>
</th:block>
</body>
</html>