<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      lang="en">
<head>
  <title>Photos</title>
  <link rel="stylesheet" th:href="@{/css/diary/photoCapture.css}" />
</head>
<body>
<main layout:fragment="content">
  <h1 class="page-title">Photos</h1>
  <div class="container">
    <form class="photo-form" id="photo-form" action="/diary/photos" method="post" enctype="multipart/form-data">
      <div th:replace="~{diary/fragments/photoUpload :: photoUpload}"></div>
    </form>
    <h2 th:if="${photos.empty}" class="no-photos">No photos uploaded yet</h2>
    <div class="photos-container">
      <th:block th:each="photo : ${photos}">
        <img th:src="@{/files/{filename}(filename=${photo.url})}" class="photo" />
      </th:block>
    </div>
    <button type="button" class="submit-photos">Submit Photos</button>
  </div>
</main>
<script layout:fragment="scripts" th:src="@{/js/diary/photos.js}"></script>
</body>
</html>
