<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      lang="en">
<head>
  <title>Photos</title>
  <link rel="stylesheet" th:href="@{/css/diary/photoCapture.css}" />
</head>
<body>
<main layout:fragment="content">
  <h1 class="page-title">Photos</h1>
  <div class="container">
    <form class="photos-form" action="/diary/photos" enctype="multipart/form-data">
      <camera-component></camera-component>
    </form>
    <!--  Convert the list of photo objects to a string so it can be parsed as JSON  -->
    <photo-container th:attr="photos=${photos != null && !photos.isEmpty() ? #objectMapper.writeValueAsString(photos) : '[]'}">
    </photo-container>
  </div>
</main>
<th:block layout:fragment="scripts">
  <script th:src="@{/js/diary/components/photoContainer.js}"></script>
  <script th:src="@{/js/diary/components/cameraComponent.js}"></script>
  <script th:src="@{/js/diary/components/photoComponent.js}"></script>
  <script th:src="@{/js/diary/photos.js}"></script>
</th:block>
</body>
</html>
