<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add A Patient</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/guest/guest.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/common/header}"></div>
    <h1> Add a New Patient </h1>
</div>
<div class="back-btn">
    <img
            src="/images/back-button.svg"
            alt="Back Button Icon"
            class="icon"
            onclick="location. href='/guest'"
    />
</div>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>
