<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Find Us</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/guest/guest.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="container">
    <div th:replace="~{common/fragments/header}"></div>
    <div class="mobileFrag">
        <div th:replace="~{guest/fragments/findUs :: info3}"></div>
    </div>
</div>
<div id="popup" class="popup-overlay" onclick="hidePopup()">
    <span class="popup-close" onclick="hidePopup()">&times;</span>
    <img id="popup-image" class="popup-image" />
</div>
<div class="btn-container">
    <button onclick="location. href='/login'" class="log-in-btn">Log In</button>
</div>
<div class="back-btn">
    <img
            src="/images/back-button.svg"
            alt="Back Button Icon"
            class="icon"
            onclick="location. href='/guest'"
    />
</div>
<script th:src="@{/js/common/header.js}"></script>
<script th:src="@{/js/Guest/guestMobile.js}"></script>
</body>
</html>
