<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Landing Page</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/guest/guest.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="landing-page">
  <main>
    <img
            th:src="@{/images/NHS_logos/nhs-logo.jpg}"
            alt="NHS Logo"
            class="nhs-logo"
    />
    <h1 id="app-name"> University Hospitals of Derby and Burton NHS Foundation Trust Lymphoedema Services </h1>
      <div class="landing-container">
        <div class="separator"></div>
        <h3 id="landing-text">Login or continue to our guest pages</h3>
      </div>
      <div class="btn-container">
        <button onclick="location. href='/login'" class="log-in-btn">Log In</button>
        <button onclick="location. href='/guest'" class="guest-btn">Guest</button>
      </div>
      <script th:src="@{/js/common/header.js}"></script>
    </body>
  </main>
</html>
