<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Landing Page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/guest.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div th:replace="~{common/fragments/header}"></div>
      <h1>Welcome to the app!</h1>
      <p>Login or continue to our guest pages</p>
    </div>
    <div class="btn-container">
      <button onclick="location. href='/login'" class="log-in-btn">Log In</button>
      <button onclick="location. href='/guest'" class="guest-btn">Guest</button>
    </div>
    <script th:src="@{/js/common/header.js}"></script>
  </body>
</html>
