<!DOCTYPE html>
<div th:fragment="checkinForm" class="checkin-form-container">
  <h2>Check-in</h2>
  <form class="checkin-form">
    <div class="section-container">
      <h3 class="section-title">Mood</h3>
      <div class="section closed"></div>
    </div>
    <div class="section-container">
      <h3 class="section-title">Symptoms</h3>
      <div class="section closed"></div>
    </div>
    <div class="section-container">
      <h3 class="section-title">Photos</h3>
      <div class="section closed"></div>
    </div>
    <div class="section-container">
      <h3 class="section-title">Notes</h3>
      <div class="section closed"></div>
    </div>
  </form>
</div>