@import url("../../management/checkCircle.css");

.task-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: var(--nhs-white);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  padding: 20px;
  display: none; /* Hidden by default */
}

.task-popup-title {
  text-align: left;
  border-bottom: 2px solid var(--nhs-mid-grey);
  border-left: .5em solid var(--nhs-dark-green);
  padding-left: .35em;
  padding-bottom: .2em;
}

.task-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none; /* Hidden by default */
}

.close-popup-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.popup-task-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--nhs-pale-grey);
  transition: background-color 0.3s ease;
  padding: 0.5em;
  border-bottom: 2px solid var(--nhs-mid-grey);
}

.popup-task-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.popup-task-card.completed {
  background-color: rgba(
    232,
    237,
    238,
    0.1
  ); /* Pale background for completed tasks */
  color: rgba(0, 0, 0, 0.5); /* Pale text for completed tasks */
  text-decoration: line-through; /* Strike through text */
}

.popup-task-card.completed .popup-task-title {
  color: rgba(0, 0, 0, 0.5); /* Pale text for completed tasks */
}

.popup-task-card.completed .popup-check-circle .checkmark {
  box-shadow: inset 0 0 0 30px var(--nhs-blue); /* Blue fill for completed tasks */
}

.popup-check-circle {
  display: flex;
}

ul#taskListContainer {
  margin: 0;
  padding: 0;
}

span.popup-task-title {
  text-align: left;
  width: 80%;
}
