<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Desktop Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/common/header}"></header>
      <h2 class="text-xl font-bold">Desktop Dashboard</h2>
      <p>Welcome</p>
    </div>
    <footer>
      <nav th:replace="~{fragments/common/nav}" class="nav"></nav>
    </footer>
    <script th:src="@{/js/screen.js}"></script>
  </body>
</html>
