<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guest</title>
    <link rel="stylesheet" th:href="@{/css/guest.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/common/header}"></header>
    <h2>Welcome to [Insert App Name Here]!</h2>
    <p>Desktop version</p>
</div>
<footer>
    <nav th:replace="~{fragments/common/nav}" class="nav"></nav>
</footer>
<script th:src="@{/js/screen.js}"></script>
</body>
</html>
