<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Education</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/information.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header th:replace="~{fragments/common/header}"></header>
    <div th:replace="~{fragments/desktop/infomenu :: infomenu}"></div>
    <div class="container">
      <h2 class="title">What is Lymphedema?</h2>
      <p>Here is some text about what this condition is.</p>
      <h2 class="title">Causes of lymphedema</h1>
      <h3 class="subtitle">Primary</h1>
      <p>Here is some text about causes of primary lymphedema.</p>
      <h3 class="subtitle">Secondary</h1>
      <p>Here is some text about causes of secondary lymphedema.</p>
      <h4 class="subsection">Cause A</h4>
      <p>Here is some text about cause A.</p>
    </div>
    <div class="section_nav">
      <a th:href="@{/cellulitis}" class="section_link">Cellulitis &rarr;</a>
    </div>
    <footer>
      <nav th:replace="~{fragments/common/nav}" class="nav"></nav>
    </footer>
    <script th:src="@{/js/screen.js}"></script>
  </body>
</html>
