<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Education</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/information.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header th:replace="~{fragments/common/header}"></header>
    <nav th:replace="~{fragments/common/navbar}" class="nav"></nav>
    <div th:replace="~{fragments/desktop/infomenu :: infomenu}"></div>
    <div class="container">
      <h2 class="title">Cellulitis</h2>
      <p>Here is some text about what this condition is.</p>
      <h3 class="subtitle">Treatment</h3>
      <p>Here is some text about treatment options for cellulitis.</p>
      <h3 class="subtitle">Prevention</h3>
      <p>Here is some text about prevention of cellulitis.</p>
    </div>
    <div class="section_nav">
        <a th:href="@{/information}" class="section_link">&larr; What is Lymphedema?</a>
        <a th:href="@{/treatment}" class="section_link">Treatments &rarr;</a>
    </div>
    <script th:src="@{/js/components/header.js}"></script>
  </body>
</html>
