/* Import utility styles */
@import url('/static/css/utility/variables.css');

/* Container for the calendar, using a grid layout */
.container-calendar {
    margin: 0 auto;
    overflow: auto;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 3fr; /* Two-column layout */
}

/* Header styling */
#header h1 {
    font-size: 2em;
}

/* Appointments section styling */
#appointments {
    padding: 10px;
    margin: 0.5rem;
    width: 100%;
    position: relative;
}

/* General header styling */
#header {
    color: #000000;
    position: relative;
    margin-left: 1rem;
}

#header p {
    font-size: 1.5em;
}

/* Styling for headings within the appointments section */
#apptForm h3 {
    color: black;
    margin: 0;
}

/* Input and textarea styling within the appointments section */
#apptForm input[type="time"],
#apptForm input[type="date"],
#apptForm input[type="text"],
#apptForm textarea {
    margin: 10px 0;
    padding: 5px;
    width: 75%;
    font-family: 'Frutiger', sans-serif;
}

/* Button styling within the appointments section */
#apptForm button {
    background: #005EB8;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 4rem;
    height: 2rem;
}

/* Center section styling in the grid */
#center {
    margin: 1rem;
    grid-column: 2;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 1rem;
}

/* Header styling for the center section */
#center h3 {
    color: black;
    font-size: 2em;
    position: relative;
}

#left h3 {
    color: black;
    font-size: 2em;
    position: relative;
}

/* Appointment list styling */
#apptList {
    list-style: none;
    padding: 0;
    position: relative;
}

/* Styling for list items within the appointment list */
#apptList li {
    text-decoration: underline;
}

/* Left section styling in the grid */
#left {
    margin-left: 1rem;
    grid-column: 1;
}

/* Styling for the delete event button */
.delete-appt {
    background: rgb(237, 19, 19);
    color: white;
    margin-left: 0.5em;
    border: none;
    cursor: pointer;
}

/* General button styling within the calendar container */
.button-container-calendar button {
    cursor: pointer;
    background: #005eb8;
    color: #fff;
    border: 1px solid #005eb8;
    padding: 5px 10px;
    width: 2rem;
    height: 2rem;
}

/* Styling for the calendar table */
.table-calendar {
    border-collapse: collapse;
    width: 100%;
    position: relative;
}

/* Styling for table cells and headers */
.table-calendar td {
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
    width: 3rem;
    height: 3rem;
    padding: 0;
}

.table-calendar th {
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
    width: 3rem;
    height: 3rem;
    padding-top: 1rem;
}

/* Styling for selected date in the calendar */
.date-picker.selected {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 1.5em;
    outline: 1px dashed #005eb8;
}

/* Additional styling for selected date */
.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}

/* Hover effect for date picker */
.date-picker:hover {
    background-color: #005EB8;
    color: white;
    cursor: pointer;
}



/* Styling for the month and year heading */
#monthAndYear {
    position: relative;
    text-align: center;
    margin-top: 0;
}

/* Styling for the calendar button container */
.button-container-calendar {
    position: relative;
    margin-bottom: 0.5em;
    overflow: hidden;
    clear: both;
}

/* Styling for add appointment button */
#openaddappt {
    width: 8rem;
    height: 2rem;
    color: white;
    background-color: #005EB8;
}

/* Styling for the previous button */
#previous {
    float: left;
    margin-left: 3rem;
}

/* Styling for the next button */
#next {
    float: right;
    margin-right: 3rem;
}

/* Footer container styling */
.footer-container-calendar {
    text-align: center;
    padding: 10px 0;
    position: relative;
}

/* Styling for the select dropdown in the footer */
.footer-container-calendar select {
    cursor: pointer;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px;
}

/* Calendar container header styling */
.calendar-container header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

/* Navigation buttons styling within the calendar header */
header .calendar-navigation {
    display: flex;
}

/* Individual navigation button styling */
header .calendar-navigation span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.9rem;
}

/* Adjust the right margin for the last navigation button */
.calendar-navigation span:last-child {
    margin-right: -10px;
}

/* Hover effect for navigation buttons */
header .calendar-navigation span:hover {
    background: #f2f2f2;
}

/* Current date styling in the calendar header */
header .calendar-current-date {
    font-weight: 500;
    font-size: 1.45rem;
}

/* Calendar body styling */
.calendar-body {
    padding: 20px;
}

/* Styling for unordered lists in the calendar body */
.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

/* Styling for the calendar dates section */
.calendar-body .calendar-dates {
    margin-bottom: 20px;
}

/* General list item styling in the calendar body */
.calendar-body li {
    width: calc(100% / 7);
    font-size: 1.07rem;
    color: #414141;
}

/* Styling for weekdays in the calendar */
.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}

/* Styling for individual date items in the calendar */
.calendar-body .calendar-dates li {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

/* Styling for inactive (non-clickable) dates */
.calendar-dates li.inactive {
    color: #aaa;
}

/* Styling for active (selected) dates */
.calendar-dates li.active {
    color: #fff;
}

/* Common styling for all date items in the calendar */
.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Background color for active (selected) dates */
.calendar-dates li.active::before {
    background: #6332c5;
}

/* Hover effect for non-active dates */
.calendar-dates li:not(.active):hover::before {
    background: #e4e1e1;
}

/* The modal container, hidden by default */
.model {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

/* Modal content/box */
.modelContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The close button */
.popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-close:hover,
.popup-close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

