.infomenu_desktop{
      width: 50%;
    }
.edmenu_list{
      list-style-type: disclosure-closed;
      margin-left: 10vw;
      padding: 0 3vh 3vh;
    }
.edmenu_item{
      margin: 3vh;
    }
.edmenu_item a{
  font-size: large;
    color: var(--nhs-blue);
}