.infomenu_desktop{
      width: 50%;
    }
.edmenu_list{
      list-style-type: disclosure-closed;
      margin-left: 3vw;
      padding: 1vh;
    }
.edmenu_item{
      margin: 1vh;
    }
.edmenu_item a{
    color: var(--nhs-blue);
}