<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>My Profile</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/account/account.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="container">
    <div th:replace="~{common/fragments/header}"></div>
    <nav th:replace="~{common/fragments/navbaradmin}" class="nav"></nav>
    <div class="account-container">
    <h1 class="welcome"> Welcome to your PROVIDER profile!</h1>
    <div class="personal_info">
        <h2 class="section_title">My Details</h2>
        <ul class="info_list"></ul>
        <button type="button" class="edit_btn" onclick="location.href='/update'">Edit</button>
    </div>
    <div class="account_info">
        <h2 class="section_title">Manage My Account</h2>
        <div class="username">Username: <span th:text="${#authentication.name}">username</span></div>
        <h1 th:if="${param.pwupdt}">Email sent to you with instructions!</h1>
        <div th:unless="${param.pwupdt}">
            <form action="/resetrequest" method="post">
                <h1>To change password please provide email</h1>
                <input type="text" name="email" th:value="${patient.email}"/>
                <input type="submit" value="Change password" class="pass_btn"/>
            </form>
    </div>
    </div>
    <form th:action="@{/logout}" method="post" class="logout">
        <input type="submit" class="logout-button" value="LOG OUT"/>
    </form>
</div>
</div>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>