<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/account/account.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="container">
    <div th:replace="~{common/fragments/header}"></div>
    <nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
    <div class="account-container">
    <h1>Hello, <span th:text="${#authentication.name}">username</span></h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="logout-button" value="LOG OUT"/>
    </form>
</div>
</div>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>