<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>My Profile</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}" />
    <link rel="stylesheet" th:href="@{/css/account/account.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="container">
    <div th:replace="~{common/fragments/header}"></div>
    <nav th:replace="~{common/fragments/navbar}" class="nav"></nav>
    <div class="account-container">
    <!-- <h1>Hello, <span th:text="${#authentication.name}">username</span></h1> -->
    <h1> Welcome to your profile!</h1>
    <div class="personal_info">
        <h2>My Details</h2>
        <div th:inline="text">Full name: [[${patient.fullName}]]</div>
        <div th:inline="text">NHS number: [[${patient.nhsNumber}]]</div>
        <div th:inline="text">Email: [[${patient.email}]]</div>
        <div th:inline="text">Phone number: [[${patient.mobile}]]</div>
        <div th:inline="text">Date of Birth [Age]: [[${patient.dateOB}]] [ [[${patient.age}]] ]</div>
        <div th:inline="text">Clinic: [[${patient.clinic}]]</div>
        <button type="button" onclick="location.href='/update'">Edit</button>
    </div>
    <div class="account_info">
        <h2>My Account</h2>
        <div>Username: <span th:text="${#authentication.name}">username</span></div>
        <button type="button">Change password</button>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="logout-button" value="LOG OUT"/>
    </form>
</div>
</div>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>