<div th:fragment="mobilenav" class="mobilenav">
    <nav class="mobilenavbar">
        <ul class="mbnav_list">
            <li class="mbnav_item"><a th:href="@{/}"><img src="" alt="Home"></a></li>
            <li class="mbnav_item"><a th:href="@{/dashboard}"><img src="" alt="Dashboard"></a></li>
            <li class="mbnav_item"><a th:href="@{/diary}"><img src="" alt="Diary"></a></li>
            <li class="mbnav_item"><a th:href="@{/information}"><img src="" alt="Education"></a></li>
            <li class="mbnav_item"><a th:href="@{/calendar}"><img src="" alt="Calendar"></a></li>
        </ul>
    </nav>
</div>
