<div th:fragment="mobilenav" class="mobilenav">
    <nav class="mobilenavbar">
        <ul class="mbnav_list">
            <li class="mbnav_item"><a th:href="@{/}" class="mbnav_link"><img src="/images/navicons/home.png" alt="Home"></a></li>
            <li class="mbnav_item"><a th:href="@{/dashboard}" class="mbnav_link"><img src="/images/navicons/dashboard.png" alt="Dashboard"></a></li>
            <li class="mbnav_item"><a th:href="@{/diary}" class="mbnav_link"><img src="/images/navicons/diary.png" alt="Diary"></a></li>
            <li class="mbnav_item"><a th:href="@{/information}" class="mbnav_link"><img src="/images/navicons/info.png" alt="Education"></a></li>
            <li class="mbnav_item"><a th:href="@{/calendar}" class="mbnav_link"><img src="/images/navicons/calendar.png" alt="Calendar"></a></li>
        </ul>
    </nav>
</div>
