<div th:fragment="mobileinfomenu" class="mobileinfomenu">
    <img class="menu_icon" src="/images/menu-bar-icon.png" alt="Menu" onclick="openMenu()">
    <div class="infomenu_mobile" id="mbim">
      <nav class="mobmenu">
        <ul class="mobmenu_list">
          <li class="mobmenu_item"><a th:href="@{/information}" class="edmenu_link">What is Lymphedema?</a></li>
          <li class="mobmenu_item"><a th:href="@{/cellulitis}" class="edmenu_link">Cellulitis</a></li>
          <li class="mobmenu_item"><a href="" class="edmenu_link">Treatment</a></li>
          <li class="mobmenu_item"><a th:href="@{/resources}" class="edmenu_link">Helpful resources</a></li>
        </ul>
      </nav>
    </div>
  </div>
  