<div th:fragment="header" class="header">
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
            <li class="nav-item"><a th:href="@{/dashboard}" class="nav-link">Dashboard</a></li>
            <li class="nav-item"><a th:href="@{/diary}" class="nav-link">Diary</a></li>
            <li class="nav-item"><a th:href="@{/education}" class="nav-link">Education</a></li>
            <li class="nav-item"><a th:href="@{/calendar}" class="nav-link">Calendar</a></li>
        </ul>
    </nav>
</div>