<div th:fragment="infomenu" class="infomenu">
    <div class = "infomenu_desktop">
      <nav class="edmenu">
        <ul class="edmenu_list">
          <li class="edmenu_item"><a th:href="@{/information}" class="edmenu_link">What is lymphoedema?</a></li>
          <li class="edmenu_item"><a th:href="@{/cellulitis}" class="edmenu_link">Cellulitis</a></li>
          <li class="edmenu_item"><a th:href="@{/treatment}" class="edmenu_link">Treatments</a></li>
          <li class="edmenu_item"><a th:href="@{/resources}" class="edmenu_link">Helpful resources</a></li>
        </ul>
      </nav>
    </div>
  </div>
  